export(cocluster
      ,coclusterBinary
      ,coclusterCategorical
      ,coclusterContingency
      ,coclusterContinuous
      ,coclusterStrategy
      )

exportClasses(BinaryOptions
             ,CategoricalOptions
             ,CommonOptions
             ,ContingencyOptions
             ,ContinuousOptions
             ,strategy
             )

exportMethods(plot,summary)

import(rtkore)
importFrom( "methods", "show", "callNextMethod", "new"
          , "validObject", "is", ".hasSlot", "hasArg")
importFrom( "graphics", "plot", "abline", "barplot", "hist"
          , "image", "layout", "legend", "par", "points", "title")
importFrom("grDevices", "gray")
importFrom("stats", "dnorm")

useDynLib(blockcluster)
