useDynLib(FastRCS, .registration = TRUE)
S3method(plot,FastRCS)
import("matrixStats")
export("FRCSnumStarts")
export("FastRCS")
export("quanf")
export("plot.FastRCS")
importFrom("graphics","abline","plot")
importFrom("stats","complete.cases","lm","qchisq","qnorm","quantile")
