useDynLib(pseudorank, .registration=TRUE)
export(psrank, pseudorank, hettmansperger_norton_test, kruskal_wallis_test)
S3method(pseudorank, numeric)
S3method(pseudorank, formula)
S3method(print, pseudorank)
S3method(summary, pseudorank)
S3method(hettmansperger_norton_test, formula)
S3method(hettmansperger_norton_test, numeric)
S3method(kruskal_wallis_test, formula)
S3method(kruskal_wallis_test, numeric)
S3method(kepner_robinson_test, formula)
S3method(kepner_robinson_test, numeric)
importFrom(Rcpp, evalCpp)
importFrom("stats", "model.frame")
importFrom("doBy", "summaryBy")
importFrom("stats", "pnorm", "pchisq", "pf")