importFrom("MASS", "ginv")
importFrom("Matrix", "expand", "lu")
importFrom("stats", "coef", "cov", "fitted", "formula", "lm", "lm.fit",
           "model.frame", "model.matrix", "model.response", "na.omit",
           "printCoefmat", "rnorm", "runif", "update", "nobs")

export(aslm)
export(getSparseModel)
export(fit.ols.lm)
export(init.ones)
export(init.runif)
export(init.rnorm)
export(figEM)

export(asggm)
export(genL)
export(genData)
export(rCSL)

S3method(print, aslm)
S3method(print, summary.aslm)
S3method(summary, aslm)
S3method(nobs, aslm)
S3method(predict, aslm)
S3method(logLik, aslm)
S3method(asggm, default)
S3method(asggm, formula)
S3method(aslm, default)
S3method(aslm, formula)
useDynLib(AdaptiveSparsity, .registration = TRUE, .fixes = "C_")
importFrom(Rcpp, evalCpp)
