useDynLib(RcppDL)
exportPattern("^[[:alpha:]]+")
import(methods, Rcpp)

exportMethods(PretrainLearningRate,
              LearningRate,
              TrainingEpochs,
              predict,
              finetune,
              pretrain,
              train,
              reconstruct,
              CorruptionLevel,
              PretrainingEpochs,
              FinetuneLearningRate,
              FinetuneEpochs,
              HiddenRepresentation,
              setPretrainLearningRate,
              setPretrainEpochs,
              setFinetuneLearningRate,
              setFinetuneEpochs,
              setCorruptionLevel,
              setLearningRate,
              setTrainingEpochs,
              setHiddenRepresentation)

exportClasses("deeplearning",
              "sda",
              "da",
              "rbm",
              "dbn")
