export(slopeOP, slopeSN, slopeData, plot.slopeOP, linearOP, sdHallDiff)
S3method(plot, slopeOP)
importFrom(Rcpp, evalCpp)
importFrom("stats", "rnorm")
importFrom("graphics", "plot", "segments")
useDynLib(slopeOP)

