useDynLib(optimization, .registration = TRUE)
export(optim_nm, optim_sa)
S3method(plot, optim_nmsa)
importFrom(Rcpp, evalCpp)
importFrom("grDevices", "gray", "grey.colors", "heat.colors")
importFrom("graphics", "abline", "axis", "box", "contour", "image",
             "lines", "mtext", "par", "plot", "points", "text")
importFrom("stats", "rbinom", "runif")
