useDynLib(dfcomb, .registration = TRUE, .fixes="C_")
export(CombIncrease_sim)
S3method(print, CombIncrease_sim)
export(CombIncrease_next)
S3method(print, CombIncrease_next)
importFrom(stats, "quantile")
