a {
    color: $col1$;
}

div.container {
    background-color: $col2$;
    resize: both;
    overflow: auto;
}

header, footer {
    padding: 1em;
    margin-left: 160px;
    color: white;
    background-color: $col1$;
    clear: left;
    text-align: center;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.articles {
  margin-left: 160px;
  border: 1px solid gray;
}

.navbar {

}

.navbar {
        font-size: 10px;

    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */

    top: 0; /* Stay at the top */
    left: 0;
    background-color: $col2$;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-left: 0;
}

navbar ul a {
    text-decoration: none;
}

doc_id {
	font-size:1.2em;
  font-weight:bold;
}

article {
    padding: 1em;
    line-height: 2.0;
    font-size: 10px;
    display: block;
    overflow: hidden;
}

article.disable-links {
    pointer-events: none;
}

#meta_table, tr, th, td {
    text-align: left;
    line-height: 1.5;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 12px;
}

#meta_table, td {
    padding-left:2em;
    font-size: 10px;
}


#searchField {
    background-color: $col2$;
    color: $col1$;
    margin-left: 10px;
    width: 60%; /* Full-width */
    font-size: 10px; /* Increase font-size */
    padding: 1em;
    border: 1px solid #ddd; /* Add a grey border */
    text-align: left;
    margin-bottom: 12px; /* Add some space below the input */
}
