<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <style>
      $CSS$
    </style>
  </head>

  <body>

    <div class="container">

    <header>
      <a name="top"></a>
      <h1>$HEADER$</h1>
      <p>$SUBHEADER$</p>
    </header>

    <div class="navbar" id="navbar">
      <input type="text" id="searchField" onkeyup="searchFunction()" placeholder="<keyword>">
      <ul style="list-style-type:none; padding:15px">
        $NAVIGATION$
        <p><i>$NAVIGATION_META$</p></i>
      </ul>
    </div>

    <div id="articles", class="articles">
      $CONTENT$
    </div>

    </div>


  </body>
</html>


<script>
function searchFunction() {
  // Declare variables
  var input, filter, elements, n;
  input = document.getElementById("searchField");
  filter = input.value.toUpperCase();
  elements = document.getElementById('articles').children;

  n = 0;
  navs = [];
  for (var i = 0; i < elements.length; i++) {
      if (elements[i].textContent.toUpperCase().indexOf(filter) > -1)
        elements[i].setAttribute("insearch", "1");
      else
        elements[i].setAttribute("insearch", "0");

      if (elements[i].getAttribute('infilter') == "1" && elements[i].getAttribute('insearch') == "1") {
          n++;
          elements[i].style.display = 'block';
      }
      else {
          elements[i].style.display = 'none';
      }
  }

  document.getElementsByTagName('ndoc')[0].innerHTML = n;
}

function navSelect(checkbox) {
  var input, elements, n, navbar, isradio, checkboxes, hit, nofilter;
  elements = document.getElementById('articles').children;
  navbar = document.getElementById('navbar');
  checkboxes = navbar.getElementsByClassName('navselect');

  nofilter = true;
  for (var j = 0; j < checkboxes.length; j++) if (checkboxes[j].checked) nofilter = false;

  n = 0;
  for (var i = 0; i < elements.length; i++) {
      hit = true;

      var tagarray = elements[i].children[1].children;
      var tags = [];
      for (var t=0; t<tagarray.length; t++) tags.push(tagarray[t].textContent);

      if (!nofilter){
        for (var j = 0; j < checkboxes.length; j++) {
          if (!checkboxes[j].checked) continue;
          if (checkboxes[j].getAttribute('isradio') == "1") {
            if (checkboxes[j].value != checkbox.value) {
              checkboxes[j].checked = false;
              continue;
            }
          }

          if (tags.indexOf(checkboxes[j].value) <= -1) {
            hit = false;
            break;
          }
        }
      }

      if (hit)
        elements[i].setAttribute("infilter", "1");
      else
        elements[i].setAttribute("infilter", "0");

      if (elements[i].getAttribute('infilter') == "1" && elements[i].getAttribute('insearch') == "1") {
        n++;
        elements[i].style.display = 'block';
      }
      else {
        elements[i].style.display = 'none';
      }
  }

  document.getElementsByTagName('ndoc')[0].innerHTML = n;
}

var unfoldspan = document.querySelectorAll("unfoldspan");

for (i = 0; i < unfoldspan.length; i++) {
  unfoldspan[i].onclick = function() {
  //window.confirm(this.textContent)

    if (!this.hasAttribute('unfolded')) this.setAttribute('unfolded', false)
    if (this.unfolded) {
      this.nextSibling.style.display = 'none'
      this.unfolded = false
    } else {
      this.nextSibling.style.display = ''
      this.unfolded = true
    }
  }
}

</script>
