export(fec_stan)
export(fecr_stan)
export(fecr_stanExtra)
export(fecr_stanSimple)
export(fecrtCI)
export(simData1s)
export(simData2s)
export(stan2mcmc)
export(fecr_probs)
export(plotCounts)
export(getPrior_mu)
export(getPrior_delta)
import(Rcpp)
import(rstan)
import(stats)
import(methods)
importFrom(graphics, abline, boxplot, curve, polygon, stripchart)
importFrom(rootSolve, multiroot)
importFrom(lattice, xyplot)
importFrom(boot, boot, boot.ci)
importFrom(coda, mcmc, HPDinterval)
importFrom(utils,head, tail, packageVersion)
importFrom(numbers, GCD, mGCD)
useDynLib(eggCounts, .registration = TRUE)
