useDynLib(steadyICA)
export(dcovustat, multidcov, dcovICA, 
       steadyICA, whitener, theta2W, W2theta,
       rightskew, matchICA, frobICA, infomaxICA,
       compInd,gmultidcov,permTest)
import("Rcpp")
importFrom("stats", "approxfun", "bw.SJ", "bw.bcv", "bw.nrd",
      "bw.nrd0", "bw.ucv", "dist", "dlogis", "dnorm", "fft",
      "optimize", "pnorm", "rnorm", "runif", "sd")
importFrom("clue","solve_LSAP")
importFrom("MASS","ginv")
importFrom("combinat","permn")
