useDynLib(fastTextR, .registration = TRUE)

import(Rcpp)
importFrom(stats, predict)
importFrom(graphics, plot.new, plot.window, symbols, strwidth, text)
importFrom(slam, simple_triplet_matrix)
importFrom(utils, modifyList, capture.output, str)

export(fasttext)

export(ft_control)

export(ft_train)
export(ft_predict)
export(ft_test)

export(ft_words)
export(ft_word_vectors)
export(ft_nearest_neighbors)
export(ft_analogies)

export(ft_normalize)

export(ft_load)
export(ft_save)

S3method(print, fasttext)
S3method(print, cbow_model)
S3method(print, skipgram_model)
S3method(print, supervised_model)

