import(methods)
import(Rcpp)
import(network)
import(parallel)
import(Matrix)
importFrom(stats, sd, na.omit, var, cov, pchisq, binomial, glm, vcov, pnorm, simulate)
importFrom(graphics, boxplot, points, pairs, plot, par, hist, rect, abline)
useDynLib(lolog, .registration = TRUE)
exportPattern("^[^\\.]")
S3method(as.network, Rcpp_DirectedNet)
S3method(as.network, Rcpp_UndirectedNet)
S3method(coef, lolog)
S3method(gofit, lolog)
S3method(plot, Rcpp_DirectedNet)
S3method(plot, Rcpp_UndirectedNet)
S3method(plot, gofit)
S3method(plot, lologGmm)
S3method(print, gofit)
S3method(print, lolog)
S3method(print, lologVariationalFit)
S3method(simulate, lolog)
S3method(summary, lolog)
S3method(as.BinaryNet, default)
