useDynLib(lodr, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
S3method(print,lod_lm)
S3method(summary,lod_lm)
S3method(print,summary.lod_lm)
S3method(coef,lod_lm)
S3method(residuals,lod_lm)
S3method(fitted,lod_lm)
importFrom(Rcpp, evalCpp)
importFrom(Rdpack, reprompt)
importFrom("stats", "complete.cases", "cov", "gaussian", "glm", "lm",
               "model.frame", "model.matrix", "pt", "sd", "sigma")
