useDynLib(gdpc, .registration=TRUE)
importFrom("Rcpp", "evalCpp")
importFrom("stats", "sd", "var","end", "frequency", "start", "ts", "plot.ts")
importFrom("parallel", "stopCluster", "makeCluster", "detectCores")
importFrom("doParallel","registerDoParallel")
importFrom("foreach","foreach","%dopar%")
importFrom("graphics","plot")
importFrom("xts","xts","tzone","reclass", "plot.xts")
importFrom("zoo","zoo", "index", "plot.zoo")
importFrom("methods","is")
export(auto.gdpc)
export(gdpc)
export(components)
S3method("plot", "gdpc")
S3method("fitted", "gdpc")
S3method("print", "gdpc")
S3method("plot", "gdpcs")
S3method("components", "gdpcs")
S3method("print", "gdpcs")
S3method("fitted", "gdpcs")
