importFrom(Rcpp, evalCpp)
importFrom(glmnet, glmnet, cv.glmnet, predict.glmnet)
importFrom(Iso, pava)
importFrom(pROC, auc)
importFrom("stats", "as.formula", "coef", "dnorm", "model.matrix",
             "optim", "pnorm", "predict", "qnorm", "rnorm", "runif",
             "sd", "uniroot")

useDynLib(gren, .registration=TRUE)

S3method(predict, "gren")
S3method(coef, "gren")

export(cv.gren)
export(denet)
export(gren)
export(renet)