# to make package functions available use export(functionName1, functionName2, ...)
useDynLib(kmc, .registration = TRUE)
import(emplik, rootSolve)
importFrom(compiler,cmpfun)
export("kmc.solve","plotkmc2D","kmc.bjtest")
importFrom("graphics", "contour", "par", "plot", "points")
importFrom("stats", "dchisq", "pchisq", "qchisq")
