useDynLib(demu)
importFrom(Rcpp, evalCpp)
export(sim.dpp.modal,sim.dpp.modal.fast,sim.dpp.modal.seq,sim.dpp.modal.fast.seq,sim.dpp.modal.np,sim.dpp.modal.nystrom,sim.dpp.modal.nystrom.kmeans,remove.projections,matern32,matern52,wendland1,wendland2,generalized.wendland,
rhomat,getranges,unscalemat,scaledesign,makedistlist)
importFrom("stats","runif")
importFrom("spam","as.dgCMatrix.spam")
importFrom("fields","Wendland","wendland.cov")
importFrom("ClusterR","MiniBatchKmeans")
