useDynLib(blockmodels, .registration = TRUE)

import(Rcpp)
import(digest)
import(parallel)
import(methods)

importFrom("graphics", "axis", "image")
importFrom("grDevices", "hsv")
importFrom("stats", "dist")
    
export(BM_bernoulli)
export(BM_bernoulli_covariates)
export(BM_bernoulli_covariates_fast)
export(BM_bernoulli_multiplex)
export(BM_poisson)
export(BM_poisson_covariates)
export(BM_gaussian)
export(BM_gaussian_multivariate)
export(BM_gaussian_multivariate_independent)
export(BM_gaussian_multivariate_independent_homoscedastic)
export(BM_gaussian_covariates)

