useDynLib(BClustLonG)
export("BClustLonG", "calSim")
importFrom(Rcpp, evalCpp)
importFrom(MASS, mvrnorm)
importFrom(lme4, lmer)
importFrom(mcclust, maxpear)
importFrom("stats",  "coef", "var", "dgamma", "rgamma", "rnorm", "runif")
