useDynLib(rococo)

import("methods")

importFrom("Rcpp", "evalCpp")
importFrom("stats",
           "IQR", "cor", "cor.test", "pnorm", "qnorm", "sd")

export("rococo", "gauss.cor")

exportClasses("RococoTestResults")
exportMethods("show", "rococo.test", "gauss.cor.test")
