useDynLib(BET)
export(BET)
export(symm)
export(bet.plot)
export(BETs)

importFrom(Rcpp, evalCpp)
importFrom("grDevices", "rgb")
importFrom("graphics", "par", "points", "polygon", "plot")
importFrom("stats", "dhyper", "ecdf", "fisher.test")
