useDynLib(DiffNet, .registration = TRUE)
exportPattern("^[^\\.]")
importFrom(Rcpp, evalCpp)
import("data.table")
import("Hmisc")
importFrom("stats","pnorm","p.adjust")
import("igraph")
import("lsa")
import("foreach")
importFrom("doParallel","registerDoParallel","stopImplicitCluster")
import("Matrix")
import("qlcMatrix")

