useDynLib(L1mstate, .registration=TRUE)
importFrom(Rcpp, evalCpp)
import(Matrix)
import(MASS)
importFrom("stats", "approx", "setNames")
importFrom("graphics", "box", "lines", "par", "plot", "polygon", "text", "title",
	   "abline", "axis", "matplot", "points", "segments")
importFrom(mstate, "msprep", "events")
importFrom(colorspace,"heat_hcl", "rainbow_hcl")

export(l1mstateR, cv.l1mstateR, coefl1mstate, cumhaz.l1mstate, probs.l1mstate, 
	plot.l1mstateCoef, plot.l1mstateCV, plot.cumhaz.l1mstate, plot.probs.l1mstate	)

S3method(plot, l1mstateCoef)
S3method(plot, l1mstateCV)
S3method(plot, cumhaz.l1mstate)
S3method(plot, probs.l1mstate)