useDynLib(HACSim, .registration=TRUE)
importFrom(ape, base.freq)
importFrom(ape, read.dna)
importFrom(ape, write.dna)
importFrom(graphics, abline)
importFrom(graphics, barplot)
importFrom(graphics, lines)
importFrom(graphics, par)
importFrom(graphics, plot)
importFrom(graphics, polygon)
importFrom(pegas, haplotype)
importFrom(Rcpp, evalCpp)
importFrom(stats, qnorm)
importFrom(stats, sd)
importFrom(stats, quantile)
importFrom(utils, tail)
importFrom(utils, write.csv)
exportPattern("^[[:alpha:]]+")
