useDynLib(NlinTS, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
import (Rcpp)
import (timeSeries)
importFrom(Rdpack,reprompt)
importFrom(Rcpp, evalCpp, cpp_object_initializer)
importFrom(methods, new)
