useDynLib(acebayes, .registration = TRUE)
import(lhs)
importFrom(compare, compare)
importFrom(Rcpp, evalCpp)
S3method(plot, ace)
S3method(print, ace)
S3method(summary, ace)
S3method(plot, pace)
S3method(print, pace)
S3method(summary, pace)
S3method(assess, ace)
S3method(assess, pace)
S3method(plot, assess)
S3method(print, assess)
S3method(summary, assess)
importFrom("graphics", "axTicks", "axis", "legend", "lines", "mtext", "par", "plot", "boxplot")
importFrom("stats", "dbinom", "dnorm", "model.matrix", "pbeta", "pnorm", "pt", "qbeta", "rbeta", "rbinom", "rnorm", "rpois", "runif", "sd", "deriv", "var", "dpois", "terms", "weighted.mean")
importFrom("randtoolbox", "halton")
importFrom("parallel", "mclapply")
export(ace, acephase1, acephase2, aceglm, acenlm, pace, paceglm, pacenlm, utilcomp18bad, optdescomp18bad, utilcomp15bad, optdescomp15bad, optdescomp15sig, utilcomp15sig, utilcomp15sigDRS, optdescomp15sigDRS, utillrbad, optdeslrbad, utillrsig, inideslrsig, optdeslrsig, utillrbaa, optdeslrbaa, utillrnsel, inideslrnsel, optdeslrnsel, utilhlrbad, optdeshlrbad, utilhlrsig, inideshlrsig, optdeshlrsig, utilhlrbaa, optdeshlrbaa, utilhlrnsel, inideshlrnsel, optdeshlrnsel, utilbeetle, optdesbeetle, utillinmod, optdeslinmod, utilitynlm, utilityglm, assess)