useDynLib(ICRanks, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(multcomp, contrMat)
importFrom(gmp, Stirling1.all)
importFrom("stats", "qchisq", "pchisq", "quantile", "rnorm", "qtukey", "uniroot")
export(ic.ranks)