useDynLib(TFMPvalue, .registration = TRUE)

importFrom(Rcpp, evalCpp)


### -----------------------------------------------------------------
### Export non-generic functions
###
export(TFMLazyScore, TFMpv2sc, TFMsc2pv)



