useDynLib(MRS, .registration = TRUE)
importFrom(Rcpp, evalCpp)
importFrom(utils, head, tail)
importFrom(grDevices, colorRampPalette)
importFrom(graphics, axis, layout, mtext, par, plot,
             points, rect, smoothScatter, title)
import(igraph)
export(mrs, andova, plotTree, plot1D, plot2D)
S3method(summary, mrs)
S3method(print, summary.mrs)
