useDynLib(hommel, .registration = TRUE)

importFrom(Rcpp, evalCpp)
importFrom(methods, new, show)
importFrom(stats, p.adjust, p.adjust.methods)

exportClasses(hommel)

exportMethods(show, summary, p.adjust)

export(hommel, discoveries, tdp, fdp, localtest, concentration)