useDynLib(GofKmt, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom("stats", "median", "quantile", "sd", "optim", "pcauchy")
importFrom("utils", "data")
importFrom("ggplot2", "ggplot", "aes", "geom_line", "labs")
importFrom("Rsolnp", "solnp")
export(KhmaladzeTrans)
export(GetCV)
#exportPattern("^[[:alpha:]]+")
