importFrom(graphics, plot)

export(sbss, spatial_kernel_matrix, local_covariance_matrix)
S3method(sbss, default)
S3method(sbss, SpatialPointsDataFrame)
S3method(sbss, sf)
S3method(print, sbss)
S3method(coef, sbss)
S3method(predict, sbss)
S3method(plot, sbss)

useDynLib(SpatialBSS, .registration=TRUE)
importFrom(Rcpp, evalCpp)



