useDynLib(FisHiCal)
import(igraph, RcppArmadillo)
export("findMatchingIndices", "prepareData", "prepareCalib", "updateCalib", "calibrate", "getInfoLevelForChr", "lsmacof", "searchInc", "plotInc", "summaryInc")

