useDynLib(latentgraph, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(stats, coef, cov, na.omit, rbinom, runif, var)
importFrom(pracma, pinv)
importFrom(MASS, mvrnorm)
importFrom(glmnet, glmnet,cv.glmnet)
export(corlatent, generate_Gaussian, lvglasso, semilatent)
