importFrom("graphics", "matplot", "matpoints", "par", "plot", "text",
             "title")
importFrom("stats", "model.matrix")
useDynLib(EMVS, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
importFrom("methods", "is")