useDynLib(BCSub)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom(MASS, mvrnorm)
importFrom(mcclust, maxpear)
import(nFactors)
importFrom("stats", "as.dist", "cor", "cutree", "dnorm", "hclust",
            "rgamma", "rnorm", "runif")
