useDynLib(clifford, .registration=TRUE)
exportPattern("^[[:alpha:]]+")

export("%.%")
export("%^%")
export("%X%")
export("%star%")
export("% %")
export("%euc%")
export("%o%")
export("%_|%")
export("%|_%")


importFrom(Rcpp, evalCpp)
importFrom("utils", "capture.output")
importFrom("stats", "rnorm")

S3method("[", clifford)
S3method("[<-", clifford)
S3method("%.%",clifford)
S3method("%^%",clifford)
S3method("%X%",clifford)
S3method("%star%",clifford)
S3method("% %",clifford)
S3method("%euc%",clifford)
S3method("%o%",clifford)
S3method("%_|%",clifford)
S3method("%|_%",clifford)
S3method(Ops,clifford)
S3method(print,clifford)
S3method(rev,clifford)
S3method(Conj,clifford)
S3method(Mod,clifford)
S3method("const<-", clifford)
S3method("coeffs<-", clifford)
S3method("as.character", clifford)
S3method("print",summary.clifford)
S3method("summary",clifford)
S3method("as.vector",clifford)
