useDynLib(MultiFit, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom("graphics", "plot", "abline", "points", "segments", "mtext", "par")
importFrom("grDevices", "dev.off", "png")
importFrom("stats", "dhyper", "ecdf", "pchisq", "pnorm", "rexp", "rhyper")
importFrom("utils", "tail")
importFrom("data.table", ":=", ".GRP")
export(multiFit, multiSummary, multiTree, permNullTest, uvApproxNull, uvExactNull)