useDynLib(ReorderCluster)
importFrom(Rcpp, evalCpp)
import(gplots)
export(RearrangeJoseph,
       OrderingJoseph,
       OrderingJosephC,
       RearrangeData,
       funMerge,
       CalcMerge,
       SubTree,
       testBar,
       colorDendClass,
       testData1,
       testData2
)
