useDynLib(RJcluster)
importFrom(Rcpp, evalCpp)

import(matrixStats)
import(infotheo)
import(rlang)
import(stats)
importFrom("graphics", "abline", "barplot", "legend")
import(profvis)
import(mclust)
import(foreach)

export(f_rez)
export(generateSimulationData)
export(RJclust)
export(scaleRJ)