
useDynLib(gcKrig, .registration = TRUE)

import(Rcpp)
importFrom(grDevices, gray)
importFrom(stats, 
           binomial, coef, cor, cov2cor, dbinom,
             dist, dnbinom, dnorm, dpois, fitted, glm.fit,
             integrate, median, optim, pbinom, pnbinom,
             pnorm, poisson, ppois, printCoefmat, qbeta,
             qbinom, qchisq, qgamma, qnbinom, qnorm, qpois,
             qweibull, rbeta, rbinom, rgamma, rnbinom, rnorm,
             rpois, rweibull)
           

importFrom(graphics, lines, plot, points)



export(gaussian.gc, gm.gc, beta.gc, weibull.gc, poisson.gc, 
       negbin.gc, binomial.gc, zip.gc, matern.gc, powerexp.gc, 
       spherical.gc, mvnintGHK, simgc, 
       FHUBdiscrete, corrTG, mlegc, predgc, plotgc)

S3method(plot,simgc)
S3method(plot,mlegc)
S3method(print,mlegc)
S3method(vcov,mlegc)
S3method(profile,mlegc)
S3method(summary,mlegc)
S3method(print,summary.mlegc)
S3method(plot,predgc)
S3method(summary,predgc)