/* Dieter Menne */
  .panel-default .panel-heading,.panel-default .panel-title,.panel-default .panel-footer{ color: #98978b; }

.shiny-split-layout {
  padding-left:16px;
}
.h2, h2 {
  margin-top: 5px;
  font-size: 26px;
  color: #006400;

}
.h3, h3 {
  font-size: 18px;
  font-weight:500;
  color: #008B00;
  margin-top:0px;
}
.h4, h4 {
  font-size: 16px;
  font-weight:500;
  color: #008B00;
}
/* used as labels */
.h5, h5 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: margin-left;
  color: #556655;
}

label{
  color: #556655;
}

.popover-title{
  font-weight: 700;
}

.popover{
  width: 600px;
  background-color:#FBFFFB;
}

.tooltip{
  background-color:#FBFFFB;
}

.highlight {
  background-color: #ffff9f;
}

.irs-grid-text {
  color: #000000;
}

#user {
font-size: 10px;
}

.btn {
  padding: 4px 8px;
}

.form-control{
  padding-left: 5px;
  padding-right: 5px;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-width: 4px 0px 0px;
  border-style: solid none none;
  border-color: #808080
}

.withSeparator{
  margin-top:10px;
}

.well{
  padding: 12px;
}

#plot-container {
  position: relative;
}
#loading-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  margin-top: -33px;  /* half of the spinner's height */
  margin-left: -33px; /* half of the spinner's width */
}
#plot.recalculating {
  z-index: -2;
}
