useDynLib(RcppClassicExamples, .registration=TRUE)

import(Rcpp)
import(RcppClassic)

export(RcppExample,
       RcppDateExample,
       RcppParamsExample,
       RcppVectorExample,
       RcppMatrixExample,
       RcppStringVectorExample
)

S3method(print,RcppExample)

