useDynLib("DetR")
import("robustbase")
import("MASS")
export(DetLTS)
export(DetMM)
export(quanf)
export(OGKCStep)
export("inQn")
export("inUMCD")
importFrom(pcaPP,"qn")
importFrom("stats","coef","complete.cases","cov","dnorm","fitted","lm","lm.fit")
importFrom("stats","lm.wfit","mahalanobis","median","pnorm","qnorm","quantile")
importFrom("stats","residuals","var")
