export(bmpt.fia)
export(check.mpt)
export(get.mpt.fia)
export(make.eqn)
export(make.mdt)
export(make.mpt.cf)
export(lbmpt.to.mpt)
export(prediction.plot)
export(prepare.mpt.fia)
export(gen.data)
export(sample.data)
export(gen.predictions)
export(fit.mptinr)
export(fit.mpt)
export(fit.mpt.old)
export(fit.model)
export(check.mpt)
export(bmpt.fia)
export(select.mpt)

useDynLib(MPTinR)

importFrom("numDeriv", hessian)
importFrom("Brobdingnag", as.brob)
#importFrom("snowfall", sfClusterSplit, sfLibrary, sfClusterApplyLB, sfLapply, sfStop)
import(Rcpp)
importFrom("stats", pchisq, runif, D, qnorm, optim, nlminb, rmultinom)
importFrom("utils", read.table, write.table, flush.console)

