useDynLib(s2net, .registration=TRUE)

exportPattern(s2net,
              s2Data,
              s2Params,
              s2Fista,
              s2netR,
              simulate_extra,
              simulate_groups)

S3method(print, s2Data)
S3method(print, s2Fista)
S3method(predict, s2netR)

import(methods, Rcpp)
importFrom("stats", "rbinom", "rnorm", "runif", "sd")
importFrom("MASS", "mvrnorm")

exportMethods(predict)