useDynLib(SMUT)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
import(SKAT)
import(MASS)
importFrom("stats", "pchisq", "runif", "cov.wt", "weighted.mean")
export(SMUT)
export(Testing_coefficient_of_mediator)
