# legacy CFC
# exports
export("cfc.tbasis")
export("cfc.pbasis")
S3method("summary", "cfc.tbasis")
S3method("summary", "cfc.pbasis")
S3method("plot", "summary.cfc.tbasis")
S3method("plot", "summary.cfc.pbasis")
# imports
importFrom("abind", "abind")

# addition for 1.0
useDynLib("CFC", .registration = TRUE)
# imports
importFrom("Rcpp", "evalCpp")
importFrom("survival", "survreg", "Surv", "survreg.control", "survreg.distributions")
importFrom("graphics", "legend", "lines", "plot")
importFrom("stats", "approx", "as.formula", "model.frame", "model.matrix", "quantile")
# parallelization
importFrom("foreach", "foreach", "%dopar%")
importFrom("doParallel", "registerDoParallel", "stopImplicitCluster")

# exports
export("cfc")
S3method("summary", "cfc")
S3method("plot", "summary.cfc")
export("cfc.survreg")
export("cfc.survreg.survprob")
S3method("summary", "cfc.survreg")
S3method("plot", "summary.cfc.survreg")
export("cfc.prepdata")

#exportPattern("^[[:alpha:]]+")
