importFrom(graphics, pairs, plot)
importFrom(Rcpp, evalCpp)
importFrom(forecast, auto.arima)
importFrom(boot, tsboot)
importFrom(xts, xts, xtsAttributes, is.xts)
importFrom(zoo, zoo, is.zoo)
import(JADE, ICtest, stats, parallel)

export(FixNA, gFOBI, gJADE, tssdr, vSOBI, gSOBI, PVC, lbtest)
export(AMUSEasymp, AMUSEboot, AMUSEladle, SOBIasymp, SOBIboot, SOBIladle)
S3method(tssdr,default)
S3method(tssdr,ts)
S3method(tssdr,xts)
S3method(tssdr,zoo)
S3method(AMUSEasymp,default)
S3method(AMUSEasymp,ts)
S3method(AMUSEasymp,xts)
S3method(AMUSEasymp,zoo)
S3method(AMUSEboot,default)
S3method(AMUSEboot,ts)
S3method(AMUSEboot,xts)
S3method(AMUSEboot,zoo)
S3method(AMUSEladle,default)
S3method(AMUSEladle,ts)
S3method(AMUSEladle,xts)
S3method(AMUSEladle,zoo)
S3method(SOBIasymp,default)
S3method(SOBIasymp,ts)
S3method(SOBIasymp,xts)
S3method(SOBIasymp,zoo)
S3method(SOBIboot,default)
S3method(SOBIboot,ts)
S3method(SOBIboot,xts)
S3method(SOBIboot,zoo)
S3method(SOBIladle,default)
S3method(SOBIladle,ts)
S3method(SOBIladle,xts)
S3method(SOBIladle,zoo)
S3method(FixNA,default)
S3method(FixNA,ts)
S3method(FixNA,xts)
S3method(FixNA,zoo)
S3method(gFOBI,default)
S3method(gFOBI,ts)
S3method(gFOBI,xts)
S3method(gFOBI,zoo)
S3method(gJADE,default)
S3method(gJADE,ts)
S3method(gJADE,xts)
S3method(gJADE,zoo)
S3method(vSOBI,default)
S3method(vSOBI,ts)
S3method(vSOBI,xts)
S3method(vSOBI,zoo)
S3method(gSOBI,default)
S3method(gSOBI,ts)
S3method(gSOBI,xts)
S3method(gSOBI,zoo)
S3method(PVC,default)
S3method(PVC,ts)
S3method(PVC,xts)
S3method(PVC,zoo)
S3method(components,tssdr)
S3method(print,tssdr)
S3method(plot,tssdr)
S3method(summary,tssdr)
S3method(coef,summary.tssdr)
S3method(components,summary.tssdr)
S3method(print,summary.tssdr)
S3method(plot,summary.tssdr)
S3method(print,lbtest)
S3method(print,bssvol)
S3method(plot,bssvol)
useDynLib(tsBSS, .registration = TRUE)