useDynLib(GENLIB, .registration = TRUE)
export(gen.branching,gen.children,gen.completeness,gen.completenessVar,gen.depth,gen.meangendepth,gen.meangendepthVar,gen.f,gen.fCI,gen.findMRCA,gen.find.Min.Distance.MRCA,gen.findDistance,gen.findFounders,gen.founder,gen.gc,gen.genealogy,gen.genout,gen.graph,gen.half.founder,gen.implex,gen.implexVar,gen.lineages,gen.max,gen.mean,gen.min,gen.nochildren,gen.noind,gen.nomen,gen.nowomen,gen.occ,gen.parent,gen.phi,gen.phiCI,gen.phiMean,gen.phiOver,gen.pro,gen.rec,gen.sibship,gen.simuProb,gen.simuSample,gen.simuSampleFreq,gen.simuSet,gen.getAncestorsPAR,gen.climbPAR,gen.getFoundersPAR)
exportClasses(GLgroup,GLCGMatrixGroupSingle,GLmultiVector,GLmultiFGroup,GLmultiFGroupSingle,GLgen,GLmultiArray4,GLmultiMatrix,GLmultiNumber,GLmultiVector,GLmultiPhiGroup,GLmultiPhiGroupSingle,GLmultiList)
import(Rcpp, kinship2, methods, bootstrap, Matrix, lattice, quadprog, foreach, parallel, doParallel)
importFrom("graphics", "arrows", "plot")
importFrom("stats", "quantile", "rnorm", "var")
