export(clusterAlgo
      ,clusterAlgoPredict
      ,learnAlgo
      ,clusterInit
      ,clusterStrategy
      ,clusterFastStrategy
      ,clusterSemiSEMStrategy
      ,clusterSEMStrategy
      ,clusterDiagGaussianNames
      ,clusterGammaNames
      ,clusterCategoricalNames
      ,clusterPoissonNames
      ,clusterValidGammaNames
      ,clusterValidCategoricalNames
      ,clusterValidPoissonNames
      ,clusterValidDiagGaussianNames
      ,clusterDiagGaussian
      ,clusterGamma
      ,clusterCategorical
      ,clusterPoisson
      ,clusterMixedData
      ,clusterPredict
      ,kmmNames
      ,kmmValidModelNames
      ,kmmValidKernelNames
      ,kmmStrategy
      ,kmm
      ,kmmMixedData
      ,learnDiagGaussian
      ,learnGamma
      ,learnPoisson
      ,learnCategorical
      ,learnMixedData
      )

exportClasses(ClusterAlgo
             ,ClusterAlgoPredict
             ,LearnAlgo
             ,ClusterInit
             ,ClusterStrategy
             ,IClusterModel
             ,IClusterComponent
             ,ClusterDiagGaussianComponent
             ,ClusterDiagGaussian
             ,ClusterGammaComponent
             ,ClusterGamma
             ,ClusterCategoricalComponent
             ,ClusterCategorical
             ,ClusterPoissonComponent
             ,ClusterPoisson
             ,ClusterMixedDataModel
             ,IClusterPredict
             ,ClusterPredict
             ,ClusterPredictMixedData
             ,KmmComponent
             ,KmmModel
             ,KmmMixedDataModel
             )

exportMethods(print)
exportMethods(plot)
exportMethods(show)
exportMethods(summary)
exportMethods(missingValues)

import(rtkore)

importFrom("graphics", "close.screen", "hist", "lines", "par", "screen", "split.screen")
importFrom("methods", "show", "callNextMethod", "new", "validObject", "is", ".hasSlot")
importFrom("stats", "cov.wt", "dgamma", "dnorm", "dpois")

useDynLib(MixAll)
