useDynLib(dynmix,.registration = TRUE)
export("convts","ldlt","ltdl","mixest1","mixest2","qbnmix","sqrtmat","tvp.reg")
import(Rcpp)
import(utils,except=c(.DollarNames,prompt))
importFrom(graphics,axis)
importFrom(graphics,legend)
importFrom(graphics,mtext)
importFrom(graphics,par)
importFrom(graphics,plot)
importFrom(MASS,ginv)
importFrom(MASS,mvrnorm)
importFrom(stats,rnorm)
importFrom(zoo,plot.zoo)
S3method(print,mixest)
S3method(print,qbnmix)
S3method(print,tvpreg)
S3method(plot,mixest)
S3method(plot,qbnmix)
S3method(plot,tvpreg)
