useDynLib(SeqKat, .registration = TRUE)


export(
	"combine.table",
	"final.score",
	"get.context",
	"get.exprobntcx",
	"get.nucleotide.chunk.counts",
	"get.pair",
	"get.tn",
	"get.toptn",
	"get.trinucleotide.counts",
	"seqkat",
	"test.kataegis"
	);

import(foreach);
import(doParallel);
importFrom(Rcpp, evalCpp);
importFrom("stats", "binom.test", "median", "na.omit", "p.adjust");
importFrom("utils", "read.delim", "read.table", "tail", "write.table");
