useDynLib(tfCox)
importFrom(Rcpp, evalCpp)
importFrom("graphics", "abline", "arrows", "par", "plot", "points")
importFrom("stats", "IQR", "approx", "lm", "pnorm", "rexp", "runif","sd")
export(sim_dat, tfCox, cv_tfCox, predict.tfCox, plot.sim_dat,
       plot.tfCox, plot.cv_tfCox, summary.tfCox, summary.cv_tfCox, 
       tfCox_choose_lambda, predict_best_lambda, negloglik)
S3method(plot, tfCox)
S3method(plot, cv_tfCox)
S3method(plot, sim_dat)
S3method(predict, tfCox)
S3method(summary, tfCox)
S3method(summary, cv_tfCox)
