.cheader {
    background-color: #2A3E50;
    margin: 0px -20px 0px -20px;
    padding:
}

/* Mainpage */
#mainpage{
    min-height: auto;
}

/* Pills */
#mainpanel.nav-pills {
    text-align: center !important;
    font-size: 16px;
    color: white;
    background-color: #2B3E50;
    padding: 0px 15%;
    margin: 0px -20px 25px -20px;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#mainpanel.nav-pills a {
    color: white;
    border-radius: 1px;
    padding: 15px 20px 15px 20px;
}

#mainpanel.nav-pills a:hover {
    background-color: #2B3E50;
    color: #19BC9B;
    cursor: pointer;
}

#mainpanel.nav-pills .active  a:focus,
#mainpanel.nav-pills .active  a {
    background-color: #1A242F;
    color: #19BC9B;
}

/* Background Color */
body {
    background: #ECF0F6;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Fonts */
h1, h2, h3, h4, h5, h6 {
    line-height: 1.4em;
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 15px;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Colnames and Rownames */
h3 {
    font-size: 16px;
    font-weight: 300;
    color: rgb(44, 62, 80);
}

/* WellPanel Titles */
h4 {
    font-size: 20px;
    font-weight: 700;
    color: rgb(44, 62, 80);
}

/* The tabset Panels */
h5 {
    font-size: 24px;
    font-weight: 100;
    color: white;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 35px;
    padding-bottom: 15px;
}
h5:hover{
    color: #19BC9B;
}


/* Normal Text for display */
h6 {
    font-size: 17px;
    color: rgb(44, 62, 80);
}

label {
    font-size: 16px;
    font-weight: 300;
    color: rgb(44, 62, 80);
}

.js-irs-0 .irs-single, .js-irs-0 .irs-bar-edge, .js-irs-0 .irs-bar {
    background: #3C88FD;
}

div#scenarioInput.form-group.shiny-input-radiogroup.shiny-input-container.shiny-bound-input label.control-label {
    padding-top: 10px;
    margin-top: 20px;
    padding-bottom: 30px;
}


.checkbox label, .radio label {
    font-size: 16px;
    color: rgb(44, 62, 80);
    font-weight: 300;
}

.MathJax span {
    color: gb(44, 62, 80);
    font-weight: 300;
    font-size: 16px;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

div.MathJax_Display {
    margin: 0px 0px;
    
}

.btn-default {
    color: rgb(44, 62, 80);
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.well {
    border-radius: 5px;
    background: white;
    box-shadow:0 1px 2px rgba(0,0,0,0.3);
}

#t.nav.nav-pills.nav-stacked.shiny-tab-input.shiny-bound-input {
    margin-left: 35px;
}

#t.nav.nav-pills.nav-stacked.shiny-tab-input.shiny-bound-input a{
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    border-radius: 1px;
}

#t.nav.nav-pills.nav-stacked.shiny-tab-input.shiny-bound-input .active a{
    background: #3C88FD;
}


#r.nav.nav-pills.nav-stacked.shiny-tab-input.shiny-bound-input {
    margin-left: 50px;
}

#r.nav.nav-pills.nav-stacked.shiny-tab-input.shiny-bound-input a{
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    border-radius: 1px;
}

#r.nav.nav-pills.nav-stacked.shiny-tab-input.shiny-bound-input .active a{
    background: #3C88FD;
}



.shiny-progress{
    top: 0px !important;
    width: 100% !important;
    padding: 0px 0px 0px 0px !important;
    right: 0px !important;
}


.shiny-progress .progress-text{
    color: rgb(44, 62, 80);
    margin: auto !important;
    right: 40% !important;
    top: 45px !important;
    background: white;
}


div#prog.modal-body {
    height: 50px;
}
