useDynLib(beam)
importFrom(Rcpp, evalCpp)
importFrom("grDevices", "colorRampPalette")
importFrom("graphics", "abline", "box", "image", "par", "plot")
importFrom("methods", "new", "show")
importFrom("stats", "optim", "p.adjust", "quantile", "pbeta", "qbeta", "median")
importFrom("fdrtool", "hc.thresh")
importFrom("igraph", "graph.adjacency", "set.vertex.attribute", "cluster_louvain", "membership", "modularity")
importFrom("Matrix", "sparseMatrix", "drop0")
importFrom("utils", "tail")
importFrom("knitr", "kable")
importFrom("assertthat", "assert_that", "not_empty", "noNA")

export(beam, beam.select, lightbeam)
exportClasses(beam, beam.select)
exportMethods("marg", "cond", "mcor", "pcor", "postExpSigma", "postExpOmega", "plotML", "plotCor", "plotAdj", "print", "show", "summary", "ugraph", "bgraph")
