useDynLib(BaBooN)
importFrom(nnet, multinom)
importFrom(MASS, stepAIC)
importFrom(Hmisc,asNumericMatrix)
importFrom(Hmisc,matrix2dataFrame)
importFrom(Rcpp,sourceCpp)
importFrom(coda,mcmc)
importFrom(coda,mcmc.list)
export("rowimpPrep",
"BBPMM.row",
"BBPMM",
"MI.inference","dmi","impdiagnosticconversion")
S3method("summary","imp")
S3method("summary","impprep")