useDynLib(ISOpureR, .registration = TRUE)
import(futile.logger)
importFrom(Rcpp, evalCpp)
importFrom(stats, runif)
export(
	'ISOpure.model_optimize.cg_code.rminimize',
	'ISOpureS1.model_core.compute_loglikelihood',
	'ISOpure.step1.CPE',
	'ISOpureS1.model_core.new_model',
	'ISOpureS1.model_core.optmodel',
	'ISOpureS1.model_optimize.kappa.kappa_compute_loglikelihood',
	'ISOpureS1.model_optimize.kappa.kappa_deriv_loglikelihood',
	'ISOpureS1.model_optimize.kappa.kappa_loglikelihood',
	'ISOpureS1.model_optimize.mm.mm_deriv_loglikelihood',
	'ISOpureS1.model_optimize.mm.mm_loglikelihood',
	'ISOpureS1.model_optimize.omega.omega_compute_loglikelihood',
	'ISOpureS1.model_optimize.omega.omega_deriv_loglikelihood',
	'ISOpureS1.model_optimize.omega.omega_loglikelihood',
	'ISOpureS1.model_optimize.opt_kappa',
	'ISOpureS1.model_optimize.opt_mm',
	'ISOpureS1.model_optimize.opt_omega',
	'ISOpureS1.model_optimize.opt_theta',
	'ISOpureS1.model_optimize.opt_vv',
	'ISOpureS1.model_optimize.theta.theta_deriv_loglikelihood',
	'ISOpureS1.model_optimize.theta.theta_loglikelihood',
	'ISOpureS1.model_optimize.vv.vv_compute_loglikelihood',
	'ISOpure.model_optimize.vv.vv_deriv_loglikelihood',
	'ISOpure.model_optimize.vv.vv_loglikelihood',
	'ISOpureS2.model_core.compute_loglikelihood',
	'ISOpure.step2.PPE',
	'ISOpureS2.model_core.new_model',
	'ISOpureS2.model_core.optmodel',
	'ISOpureS2.model_optimize.cc.cc_deriv_loglikelihood',
	'ISOpureS2.model_optimize.cc.cc_loglikelihood',
	'ISOpureS2.model_optimize.kappa.kappa_compute_loglikelihood',
	'ISOpureS2.model_optimize.kappa.kappa_deriv_loglikelihood',
	'ISOpureS2.model_optimize.kappa.kappa_loglikelihood',
	'ISOpureS2.model_optimize.opt_cc',
	'ISOpureS2.model_optimize.opt_kappa',
	'ISOpureS2.model_optimize.opt_theta',
	'ISOpureS2.model_optimize.opt_vv',
	'ISOpureS2.model_optimize.theta.theta_deriv_loglikelihood',
	'ISOpureS2.model_optimize.theta.theta_loglikelihood',
	'ISOpureS2.model_optimize.vv.vv_compute_loglikelihood',
	'ISOpure.util.logsum',
	'ISOpure.util.matlab_greater_than',
	'ISOpure.util.matlab_less_than',
	'ISOpure.util.matlab_log',
	'ISOpure.util.repmat',
	'ISOpure.calculate.tac'
	);
