useDynLib(flars)
import(fda)
import(Matrix)
import(parallel)
import(MASS)
importFrom(Rcpp, evalCpp)

export(flars,data_generation,fccaGen,fccaXX,fccaXXcv)
exportPattern("flars","fccaGen","fccaXX","fccaXXcv","data_generation")

S3method(predict, flars)

importFrom("graphics", "lines", "par", "plot")
importFrom("stats", "cor", "dnorm", "lm", "na.omit", "pnorm",
             "princomp", "resid", "rnorm", "sd", "var")