useDynLib(snipEM, .registration=TRUE)
import(Rcpp, MASS, mvtnorm)
importFrom("stats", "cov", "quantile", "var")
exportPattern("^[[:alpha:]]+")

export(
	ldmvnorm, sumlog, 
	snipEM, stEM, sclust, skmeans
)




