useDynLib(MAINT.Data,.registration=TRUE)

import(stats,methods,Rcpp,ggplot2,GGally)

importFrom(utils,head,tail)
importFrom(graphics,segments,rect,abline,axis,points,barplot,legend,matplot,plot.default)
importFrom(MASS,lda,qda)
importFrom(miscTools,stdEr)
importFrom(robustbase,h.alpha.n,.MCDcons,.MCDcnp2)
importFrom(pcaPP,l1median)
importFrom(sn,msn.mle,sn.infoMv,zeta,duplicationMatrix)
importFrom(mclust,hclass,Mclust,mclustBIC)

importClassesFrom(rrcov,CovControlMcd)

export(AgrMcDt, IData, RepLOptim, DACrossVal, cnvDPtoCP, cnvCPtoDP, 
       RobEstControl, MCDcnp2, MCDRewcnp2, qHardRoqF, getIdtOutl, EMControl, MANOVAPermTest)
exportClasses(IData, LRTest, ConfTests, RobEstControl, Idtlda, Idtqda, IdtSNlocda, IdtSNgenda, 
  IdtSngNDE, IdtSngNDRE, IdtMxNDE, IdtMxNDRE, IdtSngSNDE, IdtMxSNDE, IdtSngNandSNDE, IdtMxNandSNDE,
  IdtMANOVA, IdtClMANOVA, IdtHetNMANOVA, IdtLocSNMANOVA, IdtGenSNMANOVA, IdtLocNSNMANOVA, IdtGenNSNMANOVA
  )
exportMethods(show, summary, head, tail, nrow, ncol, rownames, colnames, plot, MidPoints, LogRanges, Ranges, NbMicroUnits,
  mle, fulltle, fasttle, coef, stdEr, vcov, mean, sd, var, cor, Idtmclust, testMod, BestModel, CovCase, 
  MANOVA, H0res, H1res, RobMxtDEst, lda, qda, Roblda, Robqda, getMahaD2, geteta, getRefDist, getmultiCmpCor, 
  snda, predict, testMod, ObsLogLiks, logLik, BIC, AIC, pcoordplot, plotInfCrt,
  parameters, pro, classification, SelCrit, Hmcdt, BestG, BestC, PostProb, "[", "[<-")

