useDynLib(GreedySBTM, .registration = TRUE)
importFrom(Rcpp, evalCpp)
importFrom("stats", "kmeans")
export("CollapseLabels")
export("ICLExact")
export("GreedyICL")
export("GreedyMerge")
export("GreedyInit")
export("SBTMProbs")


