useDynLib(glmgraph)
export(glmgraph,cv.glmgraph)

import(Rcpp)
importFrom(stats,sd)
importFrom(stats,approx)
importFrom(stats,var)
importFrom(stats,glm)
importFrom(stats,residuals)
importFrom(graphics,plot)
importFrom(graphics,segments)
importFrom(graphics,par)
importFrom(graphics,points)
importFrom(graphics,axis)
importFrom(graphics,abline)
importFrom(graphics,matplot)


S3method(plot,glmgraph)
S3method(plot, cv.glmgraph)
importFrom(stats,predict)
S3method(predict, glmgraph)
S3method(predict, cv.glmgraph)
importFrom(stats,coef)
S3method(coef, glmgraph)
S3method(coef, cv.glmgraph)
S3method(print, cv.glmgraph)



