import(gMWT, Rcpp, data.table, GenomicTools.fileHandler)

importFrom("graphics", "abline", "plot")
importFrom("utils", "read.csv", "read.table", "sessionInfo")
importFrom("grDevices", "dev.off", "pdf", "rainbow")
importFrom("circlize", "circos.clear", "circos.par", "circos.initialize", "circos.trackPlotRegion", "circos.text", "circos.rect", "circos.link","get.cell.meta.data")
importFrom("graphics", "axis", "boxplot", "layout", "lines", "par", "points", "rect", "text")
importFrom("stats", "density", "lm", "predict", "smooth.spline", "median", "setNames")
importFrom("parallel", "mclapply", "detectCores")
importFrom("stringr", "str_replace_all")
importFrom("snpStats", "switch.alleles")
importFrom("utils", "download.file", "head")

S3method(print,eqtl)
S3method(plot,eqtl)
S3method(summary,eqtl)

S3method(print,mdr)
S3method(plot,mdr)
S3method(summary,mdr)

S3method(print,mdrPredict)

S3method(print,PedMap)
S3method(summary,PedMap)

S3method(plot,qtlRes)
S3method(print,qtlRes)
S3method(summary,qtlRes)

export(eQTL, QTL, gtfToBed, mdr, mdrEnsemble, recodeData,
       getKEGGOrganisms, getKEGGPathwayOverview, getKEGGPathway, getKEGGPathwayImage, getRSLocation,
       seqlength)

useDynLib(GenomicTools, .registration = TRUE)