useDynLib(SpatialTools, .registration = TRUE)
import(spBayes)
importFrom(Rcpp, evalCpp)
importFrom(graphics, lines, plot)
importFrom(stats, nlminb, rnorm)
S3method(plot,contourLines)

export(coincident)
export(dist1)
export(dist2)

export(cov.sp)
export(simple.cov.sp)
export(cov.st)
export(simple.cov.time)
export(decomp.cov)
export(maxlik.cov.sp)
export(maxlik.cov.st)

#export(condnorm.par)
export(rmvnorm)
export(rcondnorm)
#export(rcondsim)

export(krige.uk)
export(krige.ok)
export(krige.sk)
export(get.contours)
export(plot.contourLines)

export(spLMPredictJoint)
