export(expectOrderBeta, informativeArrayProb, 
       halving, Sterrett, 
       operatingCharacteristics1, opChar1, OTC1,
       operatingCharacteristics2, opChar2, OTC2,
       gtSim, gtReg, gtRegControl, 
       propCI, propDiffCI, gtPower, gtTest, gtWidth,
       designEst, designPower
)

import(graphics)
import(Rcpp)

importFrom("grDevices", "dev.new")
importFrom("partitions", "parts")
importFrom("rBeta2009", "rdirichlet")
importFrom("Rdpack", "reprompt")
importFrom("stats","binomial", "binom.test", "coef", "dbinom", "delete.response", "dbeta", "dnorm", "glm.fit", "integrate", "is.empty.model", "lm", "lm.fit", "model.extract", "model.frame", "model.matrix", "model.response", "na.omit", "na.pass", "optim", "pbeta", "pbinom", "plogis", "pnorm", "printCoefmat", "qbeta", "qbinom", "qchisq", "qnorm", "quantile", "rbeta", "rbinom", "residuals", "rgamma", "runif", "terms", "uniroot")
importFrom("utils", "tail")

useDynLib(binGroup2, .registration=TRUE)

S3method(summary, opChar)
S3method(summary, OTC)

S3method(summary, gtReg)
S3method(predict, gtReg)

S3method(print, designPower)
S3method(print, gtTest)
S3method(print, summary.gtReg)
S3method(print, propCI)
S3method(print, propDiffCI)

