export(tess.likelihood, tess.likelihood.rateshift, tess.analysis, tess.nTaxa.expected, tess.mcmc, tess.pathSampling, tess.process.output, tess.plot.output, tess.plot.singlechain.diagnostics, tess.plot.multichain.diagnostics, tess.PosteriorPrediction, tess.PosteriorPredictiveTest, tess.sim.age, tess.sim.taxa.age, tess.sim.taxa,tess.steppingStoneSampling)

import(ape,coda,deSolve)

useDynLib(TESS)
importFrom(Rcpp, evalCpp)
importFrom("grDevices", "rgb")
importFrom("graphics", "abline", "axis", "barplot", "box", "par", "plot", "polygon")
importFrom("stats", "approxfun", "dbeta", "dexp", "dgamma", "dlnorm", "dnorm", "dpois", "dunif", "integrate", "ks.test", "na.omit", "optimize", "pnorm", "qbeta", "qnorm", "quantile", "rbeta", "reorder", "rgamma", "rgeom", "rlnorm", "rnorm", "runif", "var")
importFrom("utils", "read.table", "setTxtProgressBar", "txtProgressBar", "write.table")
