useDynLib(flan,.registration=TRUE)

export(
 flan.test,
 mutestim,
 rflan,pflan,qflan,dflan,
 draw.clone
 )
S3method(print, flantest)

import(Rcpp,methods)
importFrom("graphics", "axis", "matlines", "matplot")
importFrom("stats", "integrate", "pnorm", "qnorm", "quantile", "rexp",
           "rgamma", "rlnorm", "runif","rbinom", "sd", "uniroot",
           "optim")
