exportPattern("^[[:alpha:]]+")
export("%w/o%","%innc%","%==nc%")
##### export documented functions
export(calc1DCIs,preprocessbboptions,buildPointls,buildFONKgpointls,islogscale,blackbox.options,blackbox.getOption,prepareData)
export(calcGCV,calcPredictorOK,maximizeOK,calc1Dprofiles,calcProfileLR,calc2D3Dplots,sampleByResp,calcLRTs,writeFinalInfo,bboptim,rbb)
export(init_grid) ## user-level in Infusion...
#####
importFrom("graphics", "abline", "axis", "contour", "filled.contour", "lines", 
           "par", "plot", "points", "text", "title", "mtext", "strwidth")
importFrom("grDevices", "dev.cur", "dev.list", "dev.new", "dev.off", "dev.set", "graphics.off", "gray", "postscript", "rainbow")
importFrom("stats", "as.formula", "constrOptim", "cov", "dnorm", "median", "na.omit", "nlminb", 
           "optim", "optimize", "pchisq", "pnorm", "predict", "qchisq", "qnorm", "runif", 
           "uniroot", "quantile")
importFrom("utils", "alarm", "read.table", "write.table", "memory.size", "object.size",
           "read.csv","dump.frames","capture.output","sessionInfo")
importFrom("geometry", "convhulln", "delaunayn")
importFrom(rcdd,d2q,q2d,scdd,lpcdd,qneg,qmatmult,qdq,qmq,addHeq,redundant)
importFrom(spaMM, "spaMM.colors", "fixef", "spaMM.getOption", "MaternCorr", "spaMM.options", "HLCor", "fitme", 
           "get_predVar")  ## doc'ed fns
importFrom(spaMM, "niceLabels") ## undoc'ed fns
# importFrom(igraph, "clusters", "graph_from_adjacency_matrix") ## not imported package : cf 'private' prune_by_dist() function F I X M E
importFrom(MASS, "ginv")
importFrom("pbapply", "pbapply", "pboptions")
importFrom(proxy,dist)
importFrom(numDeriv,grad,hessian,jacobian)
importFrom(lattice,wireframe)
importFrom(Rcpp,evalCpp)
#importFrom(minqa,bobyqa)
importFrom(nloptr,nloptr)
#importFrom(lbfgsb3c,lbfgsb3c)
importFrom(utils,setTxtProgressBar,txtProgressBar)
export(spaMM.colors) # bc currently in migraine_ .R scripts written by Migraine
S3method(print, bboptim)
S3method(print, OKrig)
S3method(plot, OKrig)
S3method(predict, OKrig)
S3method(predict, OKriglistplus)
S3method(print, OKriglistplus)
S3method(plot, OKriglistplus)
S3method(summary, bboptim)
S3method(summary, OKrig)
S3method(summary, OKriglistplus)
useDynLib(blackbox, .registration=TRUE)
