useDynLib(opusminer, .registration = TRUE)
export(opus, read_transactions)
importFrom(Rcpp, evalCpp)
importClassesFrom(arules, transactions, itemsets, itemMatrix)
importFrom(Matrix, sparseMatrix)
importClassesFrom(Matrix, ngCMatrix)
importFrom(methods, as, is, new)
