useDynLib(ltsspca, .registration=TRUE)
importFrom(Rcpp, evalCpp)
export(ltspca)
export(ltsspca)
export(ltsspcaRw)
export(sPCA_rSVD)
export(dataSim)
export(mydiagPlot)
export(Angle)
importFrom("graphics", "abline", "par", "plot", "points")
importFrom("stats", "mad", "median", "qchisq", "qnorm", "quantile", "rnorm", "var","IQR","sd")
importFrom("pracma", "orth")
