useDynLib(starma)
importFrom(Rcpp, evalCpp)
import(ggplot2)
importFrom("scales", "pretty_breaks")
importFrom("graphics", "lines", "par", "plot", "title")
importFrom("stats", "complete.cases", "pchisq", "printCoefmat", "pt")
exportPattern("^[[:alpha:]]+")
S3method(print, starma)
S3method(print, stcor.test)
S3method(print, summary.starma)
S3method(starma, default)
S3method(stcor.test, default)
S3method(summary, starma)