useDynLib(grove)
importFrom(grDevices, colorRampPalette)
importFrom(graphics, axis, lines, plot, points, polygon,
           rect, text, title)
importFrom(methods, is)
importFrom(Rcpp, evalCpp)
importFrom(stats, as.formula, formula, lm, mad,
           model.matrix, optim, quantile, rgamma, rnorm,
           sd)
importFrom(utils, head, tail)
import(wavethresh)
export(DWT,
       Denoise,
       FAnova,
       GenerateSyntheticAnova,
       InvDWT,
       PlotFun,
       PlotStates)