useDynLib(RSNPset)
export(rsnpset)
export(rsnpset.pvalue)
S3method(summary, RSNPset)
S3method(summary, RSNPset.pvalue)
import(fastmatch, foreach, doRNG, qvalue)
importFrom(Rcpp, evalCpp)
importFrom("stats", "na.omit", "pchisq", "sd")
