import(parallel, clinfun, Rcpp)

importFrom("graphics", "axis", "layout", "legend", "lines", "mtext",
             "par", "plot", "points")
importFrom("stats", "kruskal.test", "pchisq", "pnorm", "wilcox.test")


export(estPI,plotPI,gmw,rejectionPlot,createGroups,getSigTests)

S3method(print,estPI)
S3method(plot,estPI)

S3method(print,re)
S3method(summary,re)
S3method(plot,re)

S3method(print,gmw)

useDynLib(gMWT, .registration = TRUE)