exportPattern("^[[:alpha:]]+")

useDynLib(iBST)

import(survival , rpart , parallel)

importFrom(Rcpp, sourceCpp)

importFrom("stats", "as.formula", "glm", "ks.test", "pnorm", "rnorm", "runif", "sd")


