useDynLib(SparseFactorAnalysis)
importFrom(Rcpp, evalCpp)
importFrom(MASS, ginv, mvrnorm)
importFrom(VGAM, rinv.gaussian)
importFrom(truncnorm, rtruncnorm)
importFrom(directlabels, direct.label, dlgrob)
importFrom(ggplot2, ggplot, aes, geom_violin, coord_flip, geom_boxplot, xlab, ylab, ggtitle, scale_x_reverse,  geom_point, qplot)
importFrom(graphics, plot) 
importFrom(stats, cor, cov, dnorm, median, optimize, pnorm, qnorm, quantile, rgamma, rnorm, runif, sd)
importFrom(proto,proto)

exportPattern("^[[:alpha:]]+")

S3method(summary, sfa)
S3method(plot, sfa)
