useDynLib(BVSNLP, .registration=TRUE)
importFrom(Rcpp, sourceCpp)
importFrom(stats, aggregate, dnorm, na.omit, nlminb,
           pgamma, pnorm, rbeta, rbinom, sd, uniroot,
           model.matrix)
import(doParallel)
import(foreach)
import(parallel)
export(cox_bvs)
export(logreg_bvs)
export(bvs)
export(CoefEst)
export(ModProb)
export(HyperSelect)
export(PreProcess)
export(predBMA)
