useDynLib(BTLLasso, .registration = TRUE)

importFrom(Rcpp, evalCpp)
importFrom(Matrix, rankMatrix)
importFrom(stringr,word)
importFrom(stringr,fixed)
importFrom(stringr,str_split)
importFrom(TeachingDemos, spread.labs)
importFrom(parallel, makeCluster,clusterExport,parLapply,stopCluster,parSapply, clusterSetRNGStream)
importFrom(psychotools, paircomp)

export(BTLLasso,
cv.BTLLasso,
paths, boot.BTLLasso, 
ctrl.BTLLasso, response.BTLLasso
)

  importFrom("graphics", "abline", "axis", "layout", "lines", "mtext",
             "par", "plot", "segments","title", "strheight", "text")
  importFrom("stats", "binomial", "coef", "glm.fit", "quantile", "var", "sd")
  importFrom("utils", "combn")


S3method(print, cv.BTLLasso)
S3method(print, BTLLasso)
S3method(print, boot.BTLLasso)

S3method(predict, BTLLasso)

S3method(coef, cv.BTLLasso)
S3method(coef, BTLLasso)

S3method(logLik, cv.BTLLasso)


S3method(plot, BTLLasso)
S3method(plot, boot.BTLLasso)