useDynLib(ACEt, .registration = TRUE)
export(acetp_mcmc)
export(AtCtEtp)
export(AtCtEt)
export(plot_acet)
export(test_acetp)
importFrom(Rcpp, sourceCpp)
importFrom("graphics", "legend", "lines", "plot", "polygon")
importFrom("stats", "optim", "quantile", "runif", "var",  "cov", "pchisq", "rnorm")
importFrom(splines, splineDesign)
importFrom(MASS, mvrnorm)