import(methods)

importFrom("grDevices", "heat.colors", "dev.off", "pdf", "rgb")
importFrom("graphics", "contour", "image", "legend", "par", "plot", "polygon", "rect", "segments", "strheight", "strwidth", "text")
importFrom("stats", "pchisq", "quantile", "rnorm", "kmeans", "glm", "binomial", "pt", "chisq.test", "kruskal.test", "qnorm", "uniroot", "as.formula", "var", "lm")
importFrom("utils", "read.table", "write.table", "head", "tail")
importFrom("Rcpp", "evalCpp") # just to avoid << function 'enterRNGScope' not provided by package 'Rcpp' >> error
importFrom("RcppParallel", "setThreadOptions", "defaultNumThreads")
importFrom("gaston", "rbind", "cbind", "select.snps", "select.inds", "set.stats", "is.autosome", "as.bed.matrix")
importFrom("parallel", "mclapply")
importFrom("mlogit", "mlogit")
importFrom("Formula", "Formula")
importFrom("dfidx", "dfidx")
useDynLib(Ravages)

export(CAST, WSS, burden.weighted.matrix)
export(set.genomic.region)
export(Jaccard)
export(filter.rare.variants)
export(burden, burden.mlogit, burden.continuous)
export(genotypic.freq, random.bed.matrix, GRR.matrix)
export(NullObject.parameters)
export(SKAT, SKAT.theoretical, SKAT.bootstrap, SKAT.permutations, SKAT.continuous)
export(bed.matrix.split.genomic.region)
export(rbm.haplos.freqs, rbm.haplos.thresholds)
