useDynLib(bigMap, .registration=TRUE)

importFrom(Rcpp, evalCpp)

importFrom(bigmemory, big.matrix, as.big.matrix, attach.big.matrix, describe, deepcopy)
importFrom(parallel, makeCluster, clusterExport, clusterEvalQ, clusterApply, clusterCall, clusterMap, stopCluster)

importFrom(grDevices, colorRamp, rgb, dev.off, jpeg)
importFrom(graphics, abline, axis, grid, layout, legend, par, plot, points, rect, text, title, lines, mtext, image, boxplot)
importFrom(utils, head, globalVariables)
importFrom(stats, runif, rnorm, var, quantile)
importFrom(RColorBrewer, brewer.pal)
importFrom(colorspace, hex, polarLUV)

#exportPattern("^[[:alpha:]]+")
exportPattern("^bdm.")
