useDynLib(SparseLPM, .registration = TRUE)
importFrom(stats, var, rnorm, rgamma)
importFrom(Rcpp, evalCpp)
importFrom(gtools, rdirichlet)
importFrom(vegan, monoMDS)
export("slpm_elbo")
export("slpm_gen")
export("slpm_gof")
export("slpm_init")
export("slpm_nga")


