useDynLib(Buddle, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom("graphics", "legend", "lines", "plot")
importFrom("stats", "formula")
importFrom("plyr", "count")
export(CheckNonNumeric)
export(FetchBuddle)
export(GetPrecision)
export(MakeConfusionMatrix)
export(OneHot2Label)
export(Split2TrainTest)
export(TrainBuddle)
#exportPattern("^[[:alpha:]]+")
