useDynLib(contoureR)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
import(reshape)
importFrom('Rcpp','cppFunction')
importFrom('geometry','delaunayn')
importFrom('geometry','convhulln')
importFrom('plyr','dlply')
export(getConvexHull)
export(getDelaunayMesh)
export(getContourLines)
export(contourLinesR)
export(orderPoints)
