useDynLib(BiProbitPartial, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
importFrom(RcppTN, rtn)
importFrom(RcppTN, dtn)
importFrom(numDeriv, hessian)
S3method(predict, BiProbitPartialb)
S3method(predict, BiProbitPartialf)
S3method(summary, optimrml)