useDynLib(Biocomb, .registration=TRUE)
importFrom(Rcpp, evalCpp)

importFrom(e1071,svm,naiveBayes)
importFrom(RWeka,Discretize)

importFrom(grDevices, dev.off, pdf, rgb)
importFrom(graphics, barplot, boxplot, legend, lines, par, persp,
           points,text,polygon)
importFrom(stats, as.formula, median, pwilcox, qchisq, runif)
importFrom(utils, capture.output, combn, write.table)

import(FSelector)
import(gtools)
import(rgl)

import(MASS)
import(nnet)
import(randomForest)
import(pROC)
import(ROCR)
import(arules)
import(pamr)
import(class)
import(rpart)

export(ProcessData,
       chi2.algorithm,
       select.forward.Corr,
       select.forward.wrapper,
       select.relief,
       select.cfs,
       select.inf.chi2,
       select.inf.symm,
       select.inf.gain,
       select.fast.filter,
       select.process,
       classifier.loop,
       input_miss,
       generate.data.miss,
       compute.auc.permutation,
       compute.auc.random,
       compute.aucs,
       pauc,
       pauclog,
       plotRoc.curves,
       cost.curve,
       plotClass.result,
       CalculateHUM_seq,
       CalculateHUM_Ex,
       CalculateHUM_ROC,
       CalcGene,
       CalcROC,
       CalculateHUM_Plot,
       Calculate3D
)
