useDynLib(ManifoldOptim, .registration = TRUE)
import(Rcpp)
export(manifold.optim)
export(moptim)
export(get.product.defn)
exportPattern("get.[[:alpha:]]+.defn")
export(get.solver.params)
export(get.manifold.params)
export(get.deriv.params)
export(Trace)
export(orthonorm)
S3method(print, ManifoldOptim)
