useDynLib(fabMix, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
S3method(print, fabMix.object)
S3method(summary, fabMix.object)
S3method(plot, fabMix.object)
import(coda)
import(corrplot)
import(doParallel)
import(foreach)
import(ggplot2)
import(label.switching)
import(MASS)
import(mvtnorm)
import(RColorBrewer)
importFrom("grDevices", "topo.colors", "dev.new", "dev.off")
importFrom("mclust", "coordProj")
importFrom("graphics", "abline", "layout", "legend", "matplot", "points", "par", "rect", "text", "axis", "box", "plot", "title")
importFrom("stats", "cov2cor", "rbinom", "dbinom", "dpois", "ppois", "rbeta", "rgamma", "runif", "quantile", "rnorm", "var", "sd", "median", "qnorm")
importFrom("utils", "read.table", "write.csv", "read.csv", "write.table", "tail")

