useDynLib(hkevp)
importFrom(Rcpp, evalCpp)
importFrom("grDevices", "rgb", "rainbow")
importFrom("graphics", "axis", "box", "boxplot", "matplot", "par", "plot", "title")
importFrom("stats", "dist", "median", "rexp", "runif")
exportPattern("^[[:alpha:]]+")