import(ICS)
importFrom(ICSNP, HR.Mest, spatial.median)
importFrom("stats", "cov", "median", "model.response", "na.fail",
           "pchisq", "runif", "terms")
importFrom("utils", "combn", "flush.console")

export(ojaMedian, ojaMedianFn, hyperplane, ojaRCM, ojaSCM, ojaSign, ojaMedianControl, ojaRank, oja1sampleTest, ojaCsampleTest, 
       ojaMedianEvo, ojaMedianGrid, ojaMedianEx, ojaMedianExB, ojaSignedRank)

S3method(ojaCsampleTest, default)
S3method(ojaCsampleTest, formula)

useDynLib(OjaNP, .registration = TRUE)
