useDynLib(HUM)

import(Rcpp)
import(gtools)
import(rgl)

export(CalculateHUM_seq,
       CalculateHUM_Ex,
       CalculateHUM_ROC,
       CalcGene,
       CalcROC,
       CalculateHUM_Plot,
       Calculate3D
)
