exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
import(HiddenMarkov)
import(mvtnorm)
import(MCMCpack)
importFrom(mclust, Mclust)
importFrom("graphics", "lines", "plot")
importFrom("utils", "write.table")
importFrom("stats", "dnorm", "logLik", "pchisq", "pf", "quantile", "var")
useDynLib(HMMmlselect, .registration = TRUE)
