useDynLib(hyper2, .registration=TRUE)

exportPattern("^[[:alpha:]]+")

importFrom(Rcpp, evalCpp)
importFrom("stats", "constrOptim")
importFrom("utils", "head")
importFrom("partitions","perms")

importFrom("magrittr", "%>%", "%<>%")
importFrom("cubature", "adaptIntegrate")

import(methods)

export(hyper2_add)
export(size)
export(brackets)
export(powers)
export(pnames)
  
S3method(brackets,hyper2)
S3method(powers,hyper2)
S3method(pnames,hyper2)
S3method("pnames<-",hyper2)

S3method(print,rrank)

S3method("[", hyper2)
S3method("[<-", hyper2)

S3method(Ops,hyper2)
S3method(sum,hyper2)
S3method(print,hyper2)
S3method(head,hyper2)
S3method(length,hyper2)

