export(conCovOpt, selectMax, multipleMax, findOutcomes, reprodAssign, DNFbuild,
       cnaOpt, rreduce, ereduce)

import(cna)
import(matrixStats)

importFrom(dplyr, distinct)
importFrom(ggplot2, ggplot, geom_rect, geom_point, geom_line, aes_string)
importFrom(stats, median, setNames)
importFrom(utils, combn, getFromNamespace)

importFrom(Rcpp, sourceCpp)
useDynLib(cnaOpt, .registration = TRUE)

S3method(plot, conCovOpt)
S3method(print, conCovOpt)
S3method(print, selectMax)
