useDynLib(BCEE)
importFrom(Rcpp, evalCpp)
importFrom(BMA, bic.glm)
importFrom(stats, glm, BIC, aggregate, sd, coef, rnorm, lm, update, vcov)
importFrom(leaps, regsubsets)
importFrom("stats", "dnorm", "na.omit", "plogis", "predict", "qlogis",
             "quantile", "var")
importFrom(boot, boot)
exportPattern("ABCEE", "NBCEE", "GBCEE")
