useDynLib(synlik, .registration = TRUE)
exportPattern("^[[:alpha:]]+")

#export(bf, bf1, bf2, bf3, blowSimul, blowStats, blow_sl, blos_smcmc, checkNorm, 
#       continue, cleanStats, extractCorr, nlar, orderDist, rickerSimul, rickerStats, 
#       ricker_sl, ricker_smcmc, robCOv, simulate, slAcf, slice, slik, smcmc)

#S3method(continue, smcmc)
#S3method(plot, smcmc)
#S3method(plot, synlik)
#S3method(simulate, synlik)

# Imported stuff
importFrom(Rcpp, "evalCpp")

importFrom(compiler, "cmpfun")

importFrom(methods, "as", "callNextMethod", "is", "new")

importFrom(parallel, "clusterApply")
importFrom(parallel, "clusterEvalQ")
importFrom(parallel, "clusterExport")
importFrom(parallel, "makeCluster")
importFrom(parallel, "stopCluster")
importFrom(parallel, "detectCores")

importFrom(stats, "simulate", "coef", "vcov", "confint", "logLik", 
           "approx", "cor", "median", "qchisq", "qgamma",
           "qnorm", "qqline", "qqnorm", "rnorm", "runif")

importFrom(graphics, "plot", "abline", "axis", "hist", "image", "layout",
             "lines", "par", "points")

importFrom(Matrix, "nearPD")

importFrom(grDevices, "colorRampPalette")

importFrom(utils, "combn", "tail")


