useDynLib(esaddle, .registration = TRUE)

export("demvn", 
       "dsaddle", 
       "ecgf", 
       "findMode", 
       "robCov", 
       "rsaddle", 
       "selectDecay")

# Imported stuff
importFrom(compiler, "cmpfun")

importFrom(stats, "cov", "optim", "sd")

importFrom(graphics, "par", "matplot", "lines", "abline", "points", "axis")

importFrom(mvnfast, "rmvn", "dmvn", "maha")

importFrom(plyr, "alply", "laply", "aaply", "llply", "rlply")

importFrom(doParallel, "registerDoParallel")

importFrom(parallel, "clusterApply")
importFrom(parallel, "clusterEvalQ")
importFrom(parallel, "clusterExport")
importFrom(parallel, "makeCluster")
importFrom(parallel, "stopCluster")
importFrom(parallel, "detectCores")

importFrom(graphics, "plot")
