## package has a dynamic library
useDynLib(hawkes)
import(Rcpp)
#import(RcppArmadillo)




## and some exported functions
exportPattern("^[[:alpha:]]+")
#exportPattern("^[[:alnum:]%\\[0-9$<-]+")
