useDynLib(bcpa)

import(plyr) 
import(Rcpp)

# This says use all functions that start with a letter
exportPattern("^[[:alpha:]]+")

#==============
## S3 methods
#==============

## Plots
S3method(plot, bcpa)
S3method(plot, track)