useDynLib(anomaly)
import("dplyr")
import("ggplot2")
import("reshape2")
import("grid")
import("cowplot")
importFrom("robustbase","covMcd")
importFrom("graphics", "abline", "plot", "points")
importFrom("stats", "mad", "median", "var","dchisq", "qchisq","IQR", "end", "quantile", "runif", "start","dnbinom","pnbinom","rnorm")
importFrom("rlang",".data")
importFrom(Rdpack,reprompt)
importFrom(Rcpp, evalCpp)
importFrom(utils, tail)
import(methods)
importFrom(methods,new)
import(assertive)
export(pass)
exportMethods(plot,summary,show,point_anomalies,collective_anomalies)
export(capa.uv)
export(capa.mv)
export(capa)
export(scapa.uv)
export(scapa.mv)
export(bard)
export(sampler)
export(robustscale,ac_corrected,tierney)
export(period_average)
export(simulate)

