S3method(fmf,default)
S3method(fmf,formula)
S3method(tuning,default)
S3method(tuning,formula)

export(fmf)
export(plot)
export(tuning)
export(normalization)

import(C50)
import(FactoMineR)
import(Rcpp)
import(caret)
import(dplyr)
import(e1071)
import(factoextra)
import(ggplot2)
import(solitude)
importFrom(Rcpp,evalCpp)
importFrom(stats,dist)
importFrom(stats,model.matrix)
importFrom(utils,combn)
importFrom(utils,setTxtProgressBar)
importFrom(utils,txtProgressBar)
importFrom(graphics, boxplot)
importFrom(grDevices, dev.new)
importFrom(stats, as.formula, model.frame)
importFrom(kernlab, ksvm, predict)

useDynLib(fmf, .registration = TRUE)
