@import url('//fonts.googleapis.com/css?family=Lobster|Cabin:400,700');

.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 28px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
table tr:nth-child(even) {
  background-color: #EDEDED;
}
table tr:nth-child(odd) {
 background-color:#fff;
}
table th	{
  background-color: black;
  color: white;
}
code,kbd,pre,samp {
	font-family:monospace,monospace;
	font-size:1em;
	background-color: #EDEDED;
}
.box-header {
    color: #FFF;
    background: #94BBD2 none repeat scroll 0% 0%;
}
