.main-header .logo {
    font-family: 'Lobster', cursive;
    font-weight: 500;
    line-height: 1.1;
    font-size: 40px;
    color: #48ca3b;
  }

.plot-container {
  position: relative;
}
#loading-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  margin-top: -33px;  /* half of the spinner's height */
  margin-left: -33px; /* half of the spinner's width */
}
#plot.recalculating {
  z-index: -2;
}