useDynLib(EditImputeCont)
exportPattern("^[[:alpha:]]+")
import(Rcpp)
import(igraph)
importFrom(editrules,as.editmatrix)
importFrom(methods,is)
importFrom("graphics", "par", "plot", "points")
importFrom("methods", "new")
importFrom("utils", "write.table")
exportClasses(Rcpp_bei)
