useDynLib(expSBM, .registration=TRUE)
importFrom(stats, dist, rgamma, runif, cmdscale, kmeans, quantile)
importFrom(Rcpp, evalCpp)
importFrom(mclust, Mclust)
importFrom(mclust, mclustBIC)
importFrom(gtools, rdirichlet)
importFrom(blockmodels, BM_bernoulli)
importFrom(blockmodels, BM_gaussian_multivariate)
export("expSBM_ELBO")
export("expSBM_EM")
export("expSBM_init")
export("expSBM_select")
