useDynLib(vita)
importFrom(Rcpp, evalCpp)
importFrom("stats", "ecdf", "ks.test", "pnorm", "printCoefmat", "sd")

export(VarImpCVl)

export(CVPVI)
S3method(CVPVI,default)
S3method(print,CVPVI)


export(NTA)
S3method(NTA,default)
S3method(print,NTA)
S3method(summary,NTA)
S3method(print,summary.NTA)


export(compVarImp)

export(PIMP)
S3method(PIMP,default)
S3method(print,PIMP)

export(PimpTest)
S3method(PimpTest,default)
S3method(print,PimpTest)
S3method(summary,PimpTest)
S3method(print,summary.PimpTest)


