import(Rcpp)

useDynLib(RcppTN, rtnRcpp, .registration = TRUE)
useDynLib(RcppTN, etnRcpp, .registration = TRUE)
useDynLib(RcppTN, vtnRcpp, .registration = TRUE)
useDynLib(RcppTN, dtnRcpp, .registration = TRUE)
useDynLib(RcppTN, enttnRcpp, .registration = TRUE)

export(rtn)
export(etn)
export(vtn)
export(dtn)
export(enttn)
