export(RPtest)
export(RPtest_single)
export(pval)
export(sparse_proj)
export(sqrt_lasso)
import(stats)
importFrom(Rcpp,sourceCpp)
importFrom(glmnet,glmnet)
importFrom(glmnet,predict.glmnet)
useDynLib(RPtests, .registration = TRUE)
