useDynLib(chunkR, .registration=TRUE)
export(chunker)
export(chunkR_devel)
export(matrix2df)
exportMethods(next_chunk)
exportMethods(get_colnames)
exportMethods(get_table)
exportMethods(get_completed)
exportMethods(get_type)
import(methods)
importFrom(Rcpp, evalCpp)
importFrom(utils, browseURL)