useDynLib(BigQuic, .registration = TRUE)
#exportPattern("^[[:alpha:]]+")
export(BigQuic)
export(BigQuic.select)
importFrom(Rcpp, evalCpp)
import("methods")
import("utils")
import("stats")
import("graphics")
import("grDevices")
import("Matrix")
import("scalreg")
S3method(plot, BigQuic_object)
