useDynLib(RealVAMS,.registration=TRUE)
export(RealVAMS)

# Imported functions
import(Matrix)
importFrom("numDeriv","jacobian")
import(Rcpp)
importFrom("methods", "as")
importFrom("stats", "binomial","formula", "glm.fit", "na.fail","pnorm", "var","qnorm", "qqline", "qqnorm")
importFrom("utils", "flush.console")
importFrom("grDevices", "devAskNewPage")
importFrom("graphics", "abline", "arrows", "boxplot", "par", "plot", "points","strheight", "strwidth", "text", "title")

# S3 methods
S3method(print, RealVAMS)
S3method(plot, RealVAMS)
S3method(summary, RealVAMS)
S3method(print,summary.RealVAMS)




