importFrom(Rcpp, evalCpp)
useDynLib(wCorr, .registration=TRUE)
export(weightedCorr)
importFrom(minqa,bobyqa)
importFrom(mnormt,biv.nt.prob)
importFrom(stats, aggregate,
                  cor,
                  dnorm,
                  optim,
                  optimize,
                  pnorm,
                  qnorm,
                  rnorm,
                  runif,
                  sd,
                  weighted.mean
                  )
