useDynLib(psgp, .registration = TRUE)
import(gstat)
import(automap)
import(intamap)
import(doParallel)
import(rgdal)
import(foreach)
import(sp)
import(parallel)
importFrom(Rcpp, evalCpp)


export(estimateParameters, spatialPredict, learnParameters, makePrediction, buildMetadata)

S3method(estimateParameters, psgp)
S3method(spatialPredict, psgp)
