useDynLib(downscaledl, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
importFrom(magrittr,"%>%")
importFrom("stats", "complete.cases", "cor", "na.omit", "qt","predict", "as.formula")
importFrom("grDevices", "colorRampPalette", "dev.off", "png")
importFrom("graphics", "par", "plot")
importFrom("stats", "as.formula", "predict")
importFrom("utils", "read.csv", "write.csv", "write.table")
importFrom("stats", "IQR") 
