###
### NAMESPACE
###

import(methods, mvtnorm, mgcv, ncvreg, stats)
importFrom(mclust,Mclust,mclustBIC,priorControl)
importFrom(survival, Surv, coxph)
importFrom("utils", "combn")
importFrom(Rcpp, evalCpp)

useDynLib(mombf, .registration=TRUE)

export(bbPrior)
export(bicprior)
export(bfnormmix)
S3method(coef,mixturebf)
S3method(coef,msfit)
export(coefByModel)
export(binomPrior)
export(dalapl,ddir,demom,dimom,dmom,dmomigmarg,demomigmarg,diwish,dpostNIW)
export(emomLM,emomPM,emomprior,groupemomprior)
export(eprod)
export(igprior)
export(imombf)
S3method(imombf,lm)
export(imomknown,imomprior,imomunknown,groupimomprior)
export(marginalNIW)
export(modelbbprior, modelbinomprior, modelcomplexprior, modelunifprior)
export(modelsearchBlockDiag)
export(modelSelection)
export(mombf)
S3method(mombf,lm)
export(momknown,momprior,momunknown,groupmomprior)
export(nlpMarginal)
export(palapl,pemom,pemomigmarg,pimom,pmom,pmomigmarg)
export(pimomMarginalK, pimomMarginalU, pmomMarginalK, pmomMarginalU)
export(pmomLM, pmomPM)
export(postProb,postSamples)
export(postModeOrtho, postModeBlockDiag)
S3method(predict,msfit)
export(pplPM)
export(ppmodel)
export(priorp2g)
export(qimom, qmom)
export(ralapl, rnlp, rpostNIW)
export(unifPrior)
export(zbfknown, zbfunknown, zellnerbf)
S3method(zellnerbf,lm)
export(zellnerprior,groupzellnerprior)
export(normalidprior)

#exportClasses("msPriorSpec")
