useDynLib(GPvam,.registration=TRUE)
# Exported functions
export(GPvam,print.GPvam,plot.GPvam,summary.GPvam)

# Imported functions
import(Matrix)
import(Rcpp)
#importFrom(gplots,plotCI)
importFrom(numDeriv,jacobian)
importFrom("graphics", "abline", "arrows", "par", "plot", "points", "strheight", "strwidth", "text", "title")
importFrom("grDevices", "devAskNewPage")
importFrom("methods", "as")
importFrom("stats", "dnorm", "formula", "na.fail", "qnorm", "qqline", "qqnorm", "var")
importFrom("utils", "flush.console")


# S3 methods
S3method(print, GPvam)
S3method(plot, GPvam)
S3method(summary, GPvam)
S3method(print,summary.GPvam)
