export(AdjacencyFromEdgelist)
export(EdgelistFill)
export(EdgelistFromAdjacency)
export(EdgelistFromIgraph)
export(GenerateDilsNetwork)
export(IgraphFromEdgelist)
export(MeasureNetworkInformation)
export(MergeEdgelists)
export(RelationStrengthSimilarity)
export(RelativeNetworkInformation)
export(RssSuggestedNetwork)
export(RssThisRadius)
export(ScalablePCA)
useDynLib(dils)