import(Rcpp)
useDynLib(ecp, .registration=TRUE)

importFrom("stats", "dist", "cov", "median")
importFrom("utils", "tail")

export("e.agglo")
export("e.divisive")
export("getBetween")
export("getWithin")
export("e.cp3o")
export("e.cp3o_delta")
export("ks.cp3o")
export("ks.cp3o_delta")
export("kcpa")

