import(Rcpp)

export(checkWarp)
export(checkSarp)
export(checkGarp)
export(cpUpper)
export(cpLower)
export(directPrefs)
export(indirectPrefs)
export(simPrefs)
export(simGarp)
export(simSarp)
export(simWarp)

useDynLib(revealedPrefs, .registration= TRUE, .fixes= "C_")

S3method(print, axiomTest)
S3method(summary, axiomTest)

S3method(print, upperBound)
S3method(summary, upperBound)

S3method(print, lowerBound)
S3method(summary, lowerBound)
