useDynLib(splmm, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom("MASS","ginv")
importFrom("stats", "median", "nlminb", "optimize", "sd")
import(emulator)
import(miscTools)
import(penalized)
import(ggplot2)
import(gridExtra)
import(plot3D)
#exportPattern("^[[:alpha:]]+")

export(splmm)
export(splmm.default)
export(splmmTuning)
export(summary.splmm)
export(plot.splmm)
export(plot3D.splmm)
export(print.splmm)
export(splmmControl)

#exportMethods(show,residuals,coefficients,coef,fitted,fitted.values)

S3method(splmm, default)
S3method(print, splmm)
S3method(summary, splmm)
S3method(plot,splmm)

