import(robustbase)
importFrom(pcaPP,"qn")
S3method(plot,DetMCD)
useDynLib(DetMCD)
export("DetMCD")
export("inQn")
export("plot.DetMCD")
export("DetMCD_CS")
export("DetMCD_RW")
export("DetMCD_SP")
export("xtractR_M")
export("quanff")
importFrom("stats","complete.cases","cor","cov.wt","mahalanobis","qchisq")
importFrom("stats","qnorm","quantile","var","cov")
importFrom("grDevices","dev.interactive")
importFrom("graphics","abline","legend","lines","par","text","title")
