
useDynLib(lowpassFilter, .registration = TRUE)

importFrom(Rcpp, evalCpp)

export(lowpassFilter)
export(getSignalJump, getSignalPeak)
export(getConvolutionJump, getConvolutionPeak, getConvolution)
export(randomGeneration, randomGenerationMA)

export(.deconvolveJump, .deconvolvePeak, .convolve)

# register S3 methods
S3method(print, lowpassFilter)
