body {
  background: #FFF;
  overflow: hidden;
  /*margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;*/
  margin:0;
}

.container{
  /*display: inline-block;*/
  /*position: relative;*/
  /*width: auto;*/
  /*padding-bottom: 100%;*/
  /*vertical-align: top;*/
  /*overflow: hidden;*/
}
/*.content{
  display: inline-block;
position: absolute;
top: 0;
left: 0;
}*/

text {
  fill: #000;
}

.line {
  fill: none;
  opacity: 0.4;
}


#tooltip {
  position: relative;
  min-width: 10%;
  display: inline-block;
  text-align: center;
  width: auto;
  height: auto;
  max-height: 40%;
  max-width: 40%;
  /*padding: 0px;*/
  pointer-events:none;
  font: 100% sans-serif;
  background: #f26b35;
  border-radius: 8px;
  float: left;
}

#tooltip p {
  color: #eee;
}
