useDynLib(dynsbm, .registration = TRUE)
import(Rcpp)
import(riverplot)
import(RColorBrewer)
importFrom(parallel,mclapply)
importFrom(stats,kmeans)
importFrom("grDevices", "colorRampPalette", "colors")
importFrom("graphics", "axis", "legend", "lines", "par", "plot", "polygon")
importFrom("stats", "heatmap", "kmeans")
importFrom("grDevices", "heat.colors")
importFrom("graphics", "abline", "image")
export(select.dynsbm)
export(alluvial.plot)
export(connectivity.plot)
export(adjacency.plot)
