useDynLib(spray, .registration=TRUE)
exportPattern("^[[:alpha:]]+")

importFrom(Rcpp, evalCpp)
importFrom(magic,adiag)
importFrom(partitions,compositions)
import(methods)
import(mathjaxr)

export(spray_add)
export(pmax)
export(pmin)
export(zapsmall)

S3method("[", spray)
S3method("[<-", spray)
S3method(dim,spray)
S3method(as.array,spray)
S3method(as.function,spray)
S3method(print,spray)
S3method(Ops,spray)
S3method(asum,spray)
S3method(deriv,spray)
S3method(pmax,spray)
S3method(pmin,spray)
S3method(pmax,default)
S3method(pmin,default)

