useDynLib(GCPM)
export(init)
exportMethods(
  "plot",
  "SD.cont",
  "export",
  "EC",
  "VaR",
  "ES",
  "analyze",
  "summary",
  "show",
  "model.type",
  "default",
  "link.function",
  "name",
  "sec.var",
  "business",
  "country",
  "sector.names",
  "idiosyncr",
  "random.numbers",
  "LHR",
  "N",
  "loss.thr",
  "loss.unit",
  "seed",
  "NS",
  "NC",
  "EAD",
  "LGD",
  "EL",
  "EL.analyt",
  "PL",
  "PD",
  "NR",
  "W",
  "SD.div",
  "SD.syst",
  "SD",
  "SD.analyt",
  "PDF",
  "CDF",
  "loss",
  "EC.cont",
  "VaR.cont",
  "ES.cont"
  )
exportClasses("GCPM")
import(methods, RcppProgress,parallel,utils,graphics,stats)
importFrom(Rcpp, evalCpp)
