useDynLib(GSE, .registration=TRUE)

importFrom("MASS", "mvrnorm")
importFrom("graphics", "par")
importFrom("grDevices", "dev.interactive")
importFrom("stats", "mahalanobis", "cor", "mad", "median", "na.omit", "pchisq", "qchisq", "rnorm", "runif", "var", "cutree","dist","hclust","qbinom")
importFrom("robustbase", "Qn")
importFrom("utils", "capture.output")
importFrom("cellWise", "DDC")
importFrom("methods", "new")
importFrom("ggplot2", "aes", "geom_hline", "geom_point", "geom_vline", "ggplot", "ggtitle", "scale_x_log10", "scale_y_log10", "theme_bw", "xlab", "ylab")

import(Rcpp)
##import(ggplot2)
##import(methods)
import(rrcov)

##exportPattern("^[[:alpha:]]+")

export(
    slrt,
    CovEM,
    emve,
    HuberPairwise,
    ImpS,
    GSE,
    partial.mahalanobis,
    gy.filt,
    TSGS,
    generate.randcorr,
    generate.cellcontam,
    generate.casecontam
)

exportClasses(
    GSE,
    emve,
    HuberPairwise,
    CovRobMiss,
    SummaryCovGSE,
    TSGS
)

exportMethods(
    show,
    summary,
    plot,
    getDist,
    getDistAdj,
    getMissing,
    getOutliers,
    getDim,
    getLocation,
    getScatter,
    getScale,
    getFiltDat
)
