useDynLib(RKHSMetaMod, .registration=TRUE)
export(calc_Kv, grplasso_q, RKHSgrplasso, RKHSMetMod_qmax, RKHSMetMod, mu_max, pen_MetMod, PredErr, SI_emp)
importFrom(Rcpp, evalCpp)
importFrom("stats", "var")

