useDynLib(fwsim, .registration = TRUE)
importFrom("graphics", "axis", "legend", "plot", "points")
importFrom("methods", "is")
importFrom("utils", "head")
import(Rcpp)
export(init_mutmodel)
export(print.mutmodel)
S3method(print, mutmodel)
export(fwsim)
export(fwsim_fixed)
export(print.fwsim)
S3method(print, fwsim)
export(summary.fwsim)
S3method(summary, fwsim)
export(plot.fwsim)
S3method(plot, fwsim)
export(mutmodel_not_mut)
export(mutmodel_dw_mut)
export(mutmodel_up_mut)
export(approx_stationary_dist)
