useDynLib(indelmiss)
export(indelrates, plot.indelmiss, plotrates, plotp, print.indelmiss, plottree)
importFrom(Rcpp, evalCpp)
importFrom(stats,na.omit,nlminb)
importFrom(ape,plot.phylo,is.binary.phylo,is.rooted,reorder.phylo,read.tree,multi2di)
importFrom(phangorn,Ancestors,Descendants)
importFrom(numDeriv,hessian)
importFrom(utils,read.table)
importFrom("graphics", "axis", "plot", "segments")
importFrom("stats", "optim", "qnorm", "rbeta")
S3method(print, indelmiss)
S3method(plot, indelmiss)