export(fun.chisq.test)
export(cp.fun.chisq.test)
export(cp.chisq.test)
export(test.interactions)
export(add.noise)
export(add.house.noise)
export(add.candle.noise)
export(simulate_tables)
#export(ExactFunctionalTest)
export(cond.fun.chisq.test)
export(plot_table)
export(EFTDP)
export(EFTDQP)
useDynLib(FunChisq)

import(Rcpp)

importFrom("stats", "pnorm", "pchisq",
           "chisq.test", "runif", "rmultinom",
           "rpois", "rbinom")

importFrom("graphics", "grid", "image", "par",
           "polygon", "rect", "text")

importFrom("grDevices", "colorRampPalette")

importFrom(Rdpack, reprompt)
