useDynLib(regmed, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(RcppArmadillo, armadillo_version)
import(graphics)
import(methods)
importFrom("stats", "lm", "residuals", "var")
import(glasso)
import(knitr)
export(regmed.grid, regmed.fit)
export(lavaan.model, get.best, trim.best) 
export(summary.regmed, plot.regmed, plot.regmed.grid, print.regmed, print.regmed.grid)
S3method(print, regmed)
S3method(print, regmed.grid)
S3method(summary, regmed)
S3method(plot, regmed)
S3method(plot, regmed.grid)
