useDynLib(HMB, .registration = TRUE)

import("methods")

importFrom(Rcpp, evalCpp)
importFrom("stats", "pnorm", "printCoefmat", "qnorm")

export(ghmb)
export(gtsmb)
export(hmb)
export(tsmb)
exportClasses(HMB)
exportClasses(SummaryHMB)
exportMethods(getSpec)
exportMethods(show)
exportMethods(summary)
