useDynLib(bigSurvSGD, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom("stats", "pt", "qt", "quantile", "rnorm")
importFrom("doParallel", "registerDoParallel")
importFrom("parallel", "makeCluster", "stopCluster", "detectCores")
importFrom("bigmemory", "read.big.matrix")
importFrom("foreach","%dopar%")
importFrom("utils","read.csv")
importFrom("graphics","plot", "lines")
import(foreach)
S3method(print, "bigSurvSGD")
S3method(plot, "bigSurvSGD")

