useDynLib(PCMRS)

importFrom(Rcpp, evalCpp)
importFrom(ltm, gpcm)
importFrom(statmod, gauss.quad)
importFrom(parallel, stopCluster, makeCluster, clusterExport, parSapply)
importFrom(cubature, adaptIntegrate)
importFrom(mvtnorm, dmvnorm)

importFrom("stats", "coef", "dnorm", "model.matrix", "nlminb", "optim", "qnorm")
importFrom("graphics", "axis", "layout", "lines", "plot")

export(PCMRS, person.posterior)

S3method(print, PCMRS)
S3method(plot, PCMRS)
