useDynLib(tensorBSS, .registration = TRUE)
import(JADE)
import(ICtest)
import(stats)
import(ggplot2)
import(fICA)
importFrom(Rcpp, evalCpp)
importFrom(tensor, tensor)
importFrom(tsBSS, gFOBI, gJADE)
importFrom("graphics", "pairs")
export(tensorCentering, tensorStandardize, tensorTransform, tensorVectorize, mModeCovariance, mModeAutoCovariance, tFOBI, tJADE, selectComponents, tSOBI, tgFOBI, tgJADE, tPCA, tNSS.SD, tNSS.JD, tNSS.TD.JD, tMD, tSIR, k_tJADE, tPP, tTUCKER, tPCAladle, tensorTransform2, tensorBoot, print.tladle, ggtladleplot, zip2image)
S3method(plot, tbss) 
S3method(print, tladle) 