useDynLib(autoFRK, .registration = TRUE)
exportPattern("^[[:alpha:]]+")
S3method(predict,FRK)
S3method(predict,mrts)
export(autoFRK)
export(mrts)
import(fields)
import(filehash)
import(filehashSQLite)
import(LatticeKrig)
import(filematrix)
import(spam)
import(grid)
import(FNN)
import(methods)
importFrom("MASS","ginv")
importFrom("mgcv","slanczos")
importFrom("stats", "dist", "optimize", "sd", "medpolish", "optim","quantile", "rnorm" )
importFrom("utils", "memory.limit", "packageVersion","setTxtProgressBar", "txtProgressBar","sessionInfo")
importFrom(Rcpp, evalCpp)
S3method(print, FRK)
S3method(print, mrts)
S3method(as.matrix, mrts)
