useDynLib(CNull, .registration = TRUE)
import(ape)
import(PhyloMeasures)
import(Matrix)
importFrom(Rcpp, evalCpp)
importFrom(stats, var)

export(permutation.communities.a,
       permutation.random.values.a,
       permutation.moments.a,
       permutation.pvalues.a,
       permutation.communities.b,
       permutation.random.values.b,
       permutation.moments.b,
       permutation.pvalues.b,
       individual.based.communities.a,
       individual.based.random.values.a,
       individual.based.moments.a,
       individual.based.pvalues.a,
       individual.based.communities.b,
       individual.based.random.values.b,
       individual.based.moments.b,
       individual.based.pvalues.b)
