useDynLib(UniDOE, .registration = TRUE)

exportPattern("^[[:alpha:]]+")

importFrom(Rcpp, evalCpp)
#importFrom("abline","axis","box","grid","layout","lines","mtext","par",
#           "plot","plot.new","plot.window","text","title")

import(graphics)
import(grDevices)
#import(adjustcolor)
#import(terrain.colors)
