useDynLib(stosim,.registration = TRUE)

importFrom(Rcpp, evalCpp)
importFrom(tcltk,  'tkProgressBar', 'setTkProgressBar')
export(
DetailOpLines,
EventElement,
MultiTrainWithInventory,
SimHistory
)