useDynLib(PoweR, .registration = TRUE)

# Export all names
# exportPattern("^[^\\.]")
export(calcFx, checklaw, compquant, create.alter, gensample, getindex, getnbparlaws, getnbparstats, graph, help.law, help.stat, law.cstr, many.crit, many.pval, plot.discrepancy, plot.pvalue, plot.sizepower, powcomp.easy, powcomp.fast, power.gui, print.critvalues, print.index, print.power, pvalueMC, stat.cstr, statcompute)
import(Rcpp)
import(parallel)
S3method(plot, discrepancy)
S3method(plot, pvalue)
S3method(plot, sizepower)
S3method(print, index)
S3method(print, critvalues)
S3method(print, critvalues1)
S3method(print, power)
S3method(print, power1)

importFrom("graphics", "hist", "legend", "lines", "plot", "points",
           "text")
importFrom("stats", "median", "na.omit", "quantile", "rnorm", "sd")
importFrom("utils", "help")
