useDynLib(GUTS, .registration = TRUE)
#exportPattern("^[[:alpha:]]+")
#exportPattern("^[^\\.]")
export(guts_setup)
export(guts_calc_loglikelihood)
export(guts_calc_survivalprobs)
export(guts_report_damage)
export(guts_report_sppe)
export(guts_report_squares)
importFrom(Rcpp, evalCpp)
import(methods, Rcpp)
S3method(print, GUTS)
S3method("[[<-", GUTS)
S3method("$<-", GUTS)
S3method("attr<-", GUTS)
S3method("attributes<-", GUTS)
S3method("mostattributes<-", GUTS)
