useDynLib(RobKF)
import(ggplot2)
importFrom(Rcpp, evalCpp)
importFrom(Rdpack,reprompt)
importFrom(Matrix, rankMatrix)
importFrom(reshape2, melt)
importFrom("stats", "pchisq", "qchisq", "qnorm", "rnorm")
export(IORKF_huber)
export(AORKF_huber)
export(AORKF_t)
export(KF)
export(IOAORKF)
export(Generate_Data)
S3method(plot, rkf)
S3method(print, rkf)
S3method(summary, rkf)
S3method(plot, ioaorkf)
S3method(print, ioaorkf)
S3method(summary, ioaorkf)