useDynLib(coxmeg)
import(Rcpp)
importFrom(nloptr,bobyqa)
importFrom(MASS,ginv)
importFrom(matrixcalc,matrix.rank)
importFrom(rARPACK,eigs_sym)
import(SNPRelate)
import(microbenchmark)
import(stats)
import(Matrix)
import(methods)
importFrom("utils", "read.table")
export(fit_ppl)
export(coxmeg)
export(coxmeg_m)
export(coxmeg_plink)