useDynLib(basad, .registration = TRUE)
importFrom(Rcpp, evalCpp)
importFrom(rmutil, dlaplace)
importFrom("stats", "dnorm", "dt", "lm", "qnorm", "uniroot")

export(basad,
       print.basad,
       predict.basad) 

S3method(print, basad)
S3method(predict, basad)
