useDynLib(optiSel, .registration=TRUE)
S3method(plot, HaploFreq)
S3method(summary, candes)
S3method(summary, Pedig)
export(summary.candes)
export(genecont)
export(pedBreedComp)
export(conttac)
export(opticomp)
export(opticont)
export(summary.Pedig)
export(completeness)
export(subPed)
export(pedInbreeding)
export(segInbreeding)
export(pedIBD)
export(makeA)
export(pedIBDatN)
export(pedIBDorM)
export(pedplot)
export(prePed)
export(agecont)
export(candes)
export(noffspring)
export(read.indiv)
export(sim2dis)
export(freqlist)
export(haplofreq)
export(segBreedComp)
export(segIBD)
export(segIBDandN)
export(segIBDatN)
export(segN)
export(sampleIndiv)
export(matings)
importFrom(optiSolve,ratiofun)
importFrom(optiSolve,quadfun)
importFrom(optiSolve,linfun)
importFrom(optiSolve,lincon)
importFrom(optiSolve,ubcon)
importFrom(optiSolve,lbcon)
importFrom(optiSolve,cop)
importFrom(optiSolve,solvecop)
importFrom(optiSolve,adjust)
importFrom(optiSolve,validate)
importFrom(optiSolve,print.copValidation)
importFrom(plyr,mapvalues)
importFrom(purrr,map)
importFrom(Matrix,sparseMatrix)
importFrom(Matrix,Matrix)
importFrom(Matrix,bdiag)
importFrom(data.table,setDF)
importFrom(data.table,setDT)
importFrom(data.table,dcast)
importFrom(reshape2,melt)
importFrom(data.table,data.table)
importFrom(data.table,as.data.table)
importFrom(data.table,tstrsplit)
importFrom(data.table,setkey)
importFrom(stringr,str_detect)
importFrom(stringr,str_extract)
importFrom(stringr,str_sub)
importFrom(stringr,str_replace)
importFrom(stringr,str_pad)
importFrom(stringr,word)
importFrom(pspline,sm.spline)
importFrom(nadiv,prepPed)
importFrom(nadiv,prunePed)
importFrom(nadiv,numPed)
importFrom(stats,lm)
importFrom(ECOSolveR,ECOS_csolve)
importFrom(ECOSolveR,ecos.control)
importFrom(pedigree,orderPed)
importFrom(pedigree,calcInbreeding)
importFrom(kinship2,pedigree)
importFrom(kinship2,plot.pedigree)
importFrom(quadprog,solve.QP)
importFrom(MASS,ginv)
importFrom(methods,as)
importFrom(stats,aggregate)
importFrom(stats,model.matrix)
importFrom(stats,sd)
importFrom(stats,setNames)
importFrom(stats,predict)
importFrom(graphics,axis)
importFrom(graphics,legend)
importFrom(graphics,lines)
importFrom(graphics,mtext)
importFrom(graphics,plot)
importFrom(graphics,polygon)
importFrom(Rcpp,evalCpp)
importFrom(utils,head)
importFrom(utils,memory.limit)
importFrom(utils,memory.size)
importFrom(magic,adiag)
importFrom(parallel, detectCores)
importFrom(parallel, makeCluster)
importFrom(doParallel, registerDoParallel)
importFrom(parallel, stopCluster)
importFrom(foreach, foreach)
importFrom(foreach,"%dopar%")
importFrom("stats", "quantile")