useDynLib(ClustVarLV,.registration = TRUE)

S3method(plot,clv)
S3method(plot,clv3w)
S3method(plot,lclv)
S3method(print,clv)
S3method(print,clv3w)
S3method(print,lclv)
S3method(summary,clv)
S3method(summary,clv3w)
S3method(predict,lmclv)

export(CLV)
export(CLV3W)
export(CLV3W_kmeans)
export(CLV_kmeans)
export(LCLV)
export(boot_clv)
export(data_biplot)
export(get_comp)
export(get_loading)
export(get_partition)
export(get_weight)
export(imput_clv)
export(lm_CLV)
export(plot_var)
export(plot_var.clv3w)
export(stand_quali)

import(doParallel)
import(parallel)
import(foreach)
import(iterators)

importFrom(Rcpp, evalCpp)
importFrom("graphics", "abline", "arrows", "barplot", "boxplot","legend", "par","plot", "symbols", "text","title", "points")
importFrom("stats", "as.dendrogram", "cor", "cov", "runif", "sd","var","wilcox.test","dnorm")
importFrom("grDevices","dev.new", "rainbow")
importFrom("plyr","aaply")