useDynLib(changepoint.mv)
import(stats)
import(utils)
import(methods)
import(tbart)
import(zoo)
import(ggplot2)
import(reshape2)
importFrom(Rcpp, evalCpp)
importFrom(graphics, abline, lines, segments)
importFrom(methods, new)
importFrom(utils, data)
importFrom(Rdpack,reprompt)
import(assertive)
export(mrc)
export(costs,MDL)
exportMethods(plot,summary,show,data.set,cpts.uv,cpts.mv,MDL,cpts.mr)
