useDynLib("SurvBoost")
# exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
import(survival)
S3method(print, boosting)
S3method(plot, boosting)
S3method(predict, boosting)
S3method(summary, boosting)
export(boosting_core)
export(print.boosting)
export(summary.boosting)
export(plot.boosting)
export(inference.boosting)
export(predict.boosting)
export(strata.boosting)
export(simulate_survival_cox)