useDynLib(DeCAFS, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom("grDevices", "boxplot.stats")
importFrom("stats", "coefficients", "lm", "rnorm", "rpois", "mad", "optim")
importFrom("graphics", "lines", "plot")
import("ggplot2")
S3method(plot, DeCAFSout)
export(DeCAFS)
export(dataRWAR)
export(estimateParameters)