import(Rcpp)
import(meteor)
importFrom("methods", "new")
exportMethods("crop<-", "weather<-", "soil<-", "control<-", "biom<-", "fert<-", "run")
exportPattern("^[[:alpha:]]+")
useDynLib(Rquefts, .registration = TRUE)
