useDynLib(SeqDetect,.registration=TRUE)
importFrom(Rcpp,evalCpp)
importFrom(Rcpp,loadModule)
importFrom(igraph,graph_from_data_frame)
importFrom(igraph,plot.igraph)
importFrom(dplyr,case_when)
importFrom(methods,new)
importFrom(stats,rnorm)
importFrom(utils,read.csv,timestamp)
import(eventdataR)
importFrom("utils", "globalVariables")
export(
  HSC_PC,
  HSC_PP,
  HSC_PC_None,
  HSC_PC_Binning,
  HSC_PC_Attribute,
  deserializeFromList,
  sales_dataset_test,
  sepsis_dataset_test,
  bpi_challenge_2019_test1,
  synthetic_test_agenda,
  HybridSequenceClassifier,
  preprocess,
  classify,
  c_to_string
)
S3method(classify,HSC_PC)
S3method(preprocess,HSC_PP)
S3method(classify,HSC_PC_None)
S3method(classify,HSC_PC_Binning)
S3method(classify,HSC_PC_Attribute)
exportClasses(
  HybridSequenceClassifier
)