useDynLib(FastPCS, .registration = TRUE)
import("matrixStats")
export("FPCSnumStarts")
export("FastPCS")
export("quanf")
export("plot.FastPCS")
S3method(plot, FastPCS)
importFrom("graphics","abline","plot")
importFrom("stats","complete.cases","lm","qchisq","qnorm","quantile")
importFrom("stats", "cov", "mahalanobis")
