useDynLib(OneArmPhaseTwoStudy, .registration = TRUE, .fixes = "C_")
#exportPattern("^[[:alpha:]]+")
#exportPattern("^[^\\.]")
export(setSimonParams, setupSimon, setSub1Params, setupSub1Design, toDataframe, getSolutions, getSolutionsSub1, getCE, getP, get_r2_flex, getCP, getN2, getD_proportionally, getD_equally, getD_distributeToOne, getD_none, get_UMVUE_GMS, get_UMVUE_GMS_subset_second_only, get_UMVUE_GMS_subset_second_total, get_p_KC, get_CI, get_p_exact_subset, get_conditionalPower, get_confidence_set, plot_confidence_set, plot_sub1_study_state, plot_simon_study_state, getCP_simon)
import( Rcpp )
import(methods)
import(stats)
import(graphics)
