useDynLib(multinet, .registration = TRUE)
exportPattern("^ml[[:alpha:]\\.]+")
exportPattern("^[[:alpha:]\\.]+ml")
exportPattern("^[[:alpha:]\\.]+2.ml")
exportPattern("^ml[[:alpha:]_]+")
exportPattern("^[[:alpha:]_]+ml")
exportPattern("values2graphics")
importFrom(Rcpp, loadModule)
importFrom(Rcpp, evalCpp)
importFrom(grDevices, rainbow, chull, adjustcolor, col2rgb, rgb)
importFrom(graphics, arrows, points, segments, text, par, plot, xspline, legend)
importFrom("stats", "complete.cases")
import(igraph)
import(methods)
import(RColorBrewer)
S3method(as.igraph,Rcpp_RMLNetwork)
S3method(as.list,Rcpp_RMLNetwork)
S3method(summary,Rcpp_RMLNetwork)
S3method(plot,Rcpp_RMLNetwork)
S3method(print,Rcpp_RMLNetwork)
S3method(str,Rcpp_RMLNetwork)

