export(edge.prob, lweights_multinomial, lweights_gaussian, weights_gausscopula, prior_unif_dirichlet, account.for.prior)
useDynLib(saturnin)

importFrom(stats, "cov", "dbeta", "ecdf", "integrate", "qnorm")
importFrom(Rcpp, "evalCpp")
