useDynLib(cglm, .registration=TRUE)

importFrom(Rcpp, evalCpp)
importFrom(stats, "model.matrix", "optim", "pnorm", "printCoefmat", "terms")
importFrom(nleqslv, "nleqslv")
importFrom(data.table, "data.table")
  
export(cglm)

S3method(summary, cglm)
S3method(print, summary.cglm)