
useDynLib(KernSmoothIRT)


export(ksIRT, itemcor, subjscore, subjthetaML, subjscoreML, subjOCC, print.ksIRT, plot.ksIRT, subjEIS, subjETS, PCA, subjOCCDIF, subjEISDIF, subjETSDIF)
import(Rcpp)
importFrom(plotrix, triax.plot)
import(rgl)
importFrom("methods", "is")

 importFrom("grDevices", "colors")
  importFrom("graphics", "abline", "axis", "box", "legend", "lines",
             "par", "plot", "points", "text")
  importFrom("stats", "aggregate", "approx", "complete.cases", "cor",
             "density", "na.omit", "optimize", "prcomp", "qnorm",
             "quantile", "rmultinom", "runif", "sd")
  importFrom("utils", "alarm")


S3method(plot, ksIRT)
S3method(print, ksIRT)





