useDynLib(vcpen, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(RcppArmadillo, armadillo_version)
import(methods)
import(knitr)
importFrom("stats", "var")
export(vcpen, kernel_linear, minque)
export(summary.vcpen)
S3method(summary, vcpen)

