useDynLib(FastHCS)
S3method(plot,FastHCS)
export("FHCSnumStarts")
export("signFlip")
export("FastHCS")
export("plot.FastHCS")
export("compPcaParams")
export("FHCSkernelEVD")
export("FHCSpsdo")
importFrom('matrixStats','colVars')
importFrom("graphics","abline","plot")
importFrom("stats","complete.cases","qchisq","qnorm","quantile","sd")
importFrom("methods", "is")