useDynLib(mrMLM, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
import("lars")
importFrom(Rcpp, evalCpp)
importFrom("ncvreg","cv.ncvreg")
importFrom("stats","optim","pchisq","var","na.omit","median", "qchisq", "uniroot","cor.test","AIC", "lm", "p.adjust","cor")
importFrom("utils","read.csv","write.table","RShowDoc","head","data","tail")
importFrom("methods","new")
importFrom("data.table","fread")
importFrom("doParallel","registerDoParallel")
importFrom("parallel","detectCores","makeCluster","stopCluster")
importFrom("graphics","plot","abline","axis", "mtext", "par","box","text")
importFrom("grDevices","dev.off","jpeg","png","tiff","pdf")
importFrom("coin","kruskal_test","pvalue")
importFrom("sampling","srswr")
importFrom("foreach","%dopar%","%do%","foreach")
importFrom("sbl","sblgwas")
export("mrMLM")
export("mrMLMFun")
export("FASTmrMLM")
export("FASTmrEMMA")
export("pLARmEB")
export("pKWmEB")
export("ISIS")
export("ReadData")
export("inputData")
export("DoData")
export("MultiManhattan")
